.row
div.btn-group.btn-group-justified(role="group" aria-label="...")
  div.btn-group(role="group")
    button.btn.btn-default(type="button") 
        a(href="{{ url_for('indicators.categories') }}") Categories
  div.btn-group(role="group")
    button.btn.btn-default(type="button") 
        a(href="{{ url_for('indicators.countries') }}") Countries