{% extends "base.html" %}

{% block page_title %}Indicators - Categories{% endblock %}

{% block scripts %}



{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}
  

      <div class="row">
        <div role="group" aria-label="..." class="btn-group btn-group-justified">
          <div role="group" class="btn-group">
            <button type="button" class="btn btn-default">Categories</button>
          </div>
          <div role="group" class="btn-group">
            <button type="button" class="btn btn-default">Countries</button>
          </div>
        </div>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row jumbotron bg-none">
        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category afghanistan"></div>
              <h4>Afghanitan</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category albania"></div>
              <h4>Albania</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category algeria"></div>
              <h4>Algeria</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category andorra"></div>
              <h4>Andorra</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category angola"></div>
              <h4>Angola</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category antigua"></div>
              <h4>Antigua & Barbuda</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category argentina"></div>
              <h4>Argentina</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category armenia"></div>
              <h4>Armenia</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category australia"></div>
              <h4>Australia</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category austria"></div>
              <h4>Austria</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category azerbaijan"></div>
              <h4>Azerbaijan</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="well category-wrapper">
              <div class="well category bahamas"></div>
              <h4>Bahamas</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-medium footer">
        <div class="well bg-medium font-light">
          <h1>Start with a chart style and add your indicator          </h1>
          <div class="col-md-12 font-dark">
            <div class="row">
              <div class="col-md-4">
                <div class="well bg-container">
                  <h3>Scatter plots</h3>
                  <div class="row">
                    <div class="col-md-6"><img src="app/images/chart_scatter.png"></div>
                    <div class="col-md-6">
                      <p>Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="well bg-container">
                  <h3>Line Chart, Series</h3>
                  <div class="row">
                    <div class="col-md-6"><img src="app/images/chart_pie.png"></div>
                    <div class="col-md-6">
                      <p>In the past 50 years, infant and child death rates in the developing world have been reduced by 50 percent, and health.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="well bg-container">
                  <h3>Curve Charts</h3>
                  <div class="row">
                    <div class="col-md-6"><img src="app/images/chart_curved.png"></div>
                    <div class="col-md-6">
                      <p>Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



{% endblock %}







