{% extends "base.jade" %}

{% block page_title %}Indicators - Categories{% endblock %}

{% block scripts %}



{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}

.container
  // Main component for a primary marketing message or call to action
  .row
    p
  .row
    p
  include indicators/_indicator_nav.jade
  .row
    p
  .row.jumbotron.bg-none
    {% for tag in tags %}
    .col-md-3.col-xs-6.row_block_display
      div.well.category-wrapper()
        div.well.category(class="icon-{{ tag.slug_label }}")
        h4 {{ tag.label }} ({{ tag.dataset_count }})
    {% endfor %}

  .row.bg-medium.footer
    .well.bg-medium.font-light
      h1 Start with a chart style and add your indicator          
      .col-md-12.font-dark
        .row
          .col-md-4
            div.well.bg-container
              h3 Scatter plots
              .row
                .col-md-6
                  img(src="{{ static_path('dist/images/chart_scatter.png') }}")
                .col-md-6
                  p Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.
          .col-md-4
            div.well.bg-container
              h3 Line Chart, Series
              .row
                .col-md-6
                  img(src="{{ static_path('dist/images/chart_pie.png') }}")
                .col-md-6
                  p In the past 50 years, infant and child death rates in the developing world have been reduced by 50 percent, and health.
          .col-md-4
            div.well.bg-container
              h3 Curve Charts
              .row
                .col-md-6
                  img(src="{{ static_path('dist/images/chart_curved.png') }}")
                .col-md-6
                  p Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.
                    



{% endblock %}







