{% extends "base.jade" %}

{% block page_title %}Contact Us{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

.container
	.row
		.col-md-12
			.row
				p
			.row
				p
			p
				| We hope you will take this opportunity to share your thoughts about this site with us! Please email
				| us with feedback or to report any issues with the site, but note that before contacting us, you may be 
				| able to find the answer to your questions in our 
				a(href="/help") Frequently Asked Questions
				| . You can also find us on
				| Twitter : 
				a(href="http://www.twitter.com/@FINDatState") @FINDatState.

{% endblock %}

{% block footer_scripts %}


{% endblock %}