doctype html
html(lang='en')
  include ./includes/head.jade
  body.app
    include ./includes/navigation.jade
    .container
      // Main component for a primary marketing message or call to action
      .row
        p
      .row
        p
      .row
        p Accessibility
      .row
        p
      .row
        p
      .row
        p
      .row
        p
      .row
        p
      .row
        p  
      .row
        p
      .row
        p
      .row
        p
      .row
        p
      .row
        p
      .row
        p 
      .row
        p
      .row
        p
      .row
        p
      .row
        p
      .row
        p
      .row
        p                
      include ./includes/footer.jade
