doctype html
html(lang='en')
  include ./includes/head.jade
  body.app
    include ./includes/navigation.jade
    .container-full
      // Main component for a primary marketing message or call to action
      
      .row.jumbotron.bg-dark
        p &nbsp;
        h1.tlt() Explore Indicators, Effortlessly
        h1.tlt() Share what you discover
        //-p
          //-| Come for the Indicator, stay for the data. Modify and enhance the data how you want.
        .row
          .col-md-2
          .col-md-8

            p.search-group
              div#sticky-anchor
              div#sticky.form-group.has-feedback
                input.main-search(type='text' placeHolder='Find a country or indicator')
                span.glyphicon.glyphicon-search.form-control-feedback
                div.main-search-results(data-bind="foreach:searchResults,visible:searchResults().length>0 && searchValue().length>=2")
                  span(data-bind="html:label,click:$root.selectIndicator")
          //i.fa.fa-search
          //span.glyphicon.glyphicon-search.form-control-feedback
          .col-md-2
                 
        //- p
        //-   | Or browse by: 
        //-   a Country
        //-   | , 
        //-   span or 
        //-   a Indicator
        //-   //a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') View navbar docs &raquo;
      
    .container
      .row
        .col-md-12
          div.well.bg-none.font-large.font-dark
            //-h3 Welcome to FIND
            .row
              .col-md-12
                p
                | Explore country-level indicators from a variety of sources and sectors. 
                | Visualize and compare the data to better understand the context.
      .row
        .col-md-12#carousel-example-generic.carousel.slide(data-ride='carousel')
          //Indicators
          ol.carousel-indicators
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            |     
            li(data-target='#carousel-example-generic', data-slide-to='1')
            |     
            li(data-target='#carousel-example-generic', data-slide-to='2')
          // Wrapper for slides
          .carousel-inner(role='listbox')
            .item.active
              .row
                .col-md-6
                  div.well.bg-none
                    h3 Literacy rates
                    .row
                      .col-md-3
                        img(src='http://placehold.it/125/A64444')
                      .col-md-9
                        p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                .col-md-6
                  div.well.bg-none
                    h3 Under Five Mortality Rate
                    .row
                      .col-md-3
                        img(src='http://placehold.it/125/A64444')
                      .col-md-9
                        p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            .item
              .row
                .col-md-6
                  div.well.bg-none
                    h3 GDP Growth
                    .row
                      .col-md-3
                        img(src='http://placehold.it/125/A64444')
                      .col-md-9
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-md-6
                  div.well.bg-none
                    h3 Forest Area
                    .row
                      .col-md-3
                        img(src='http://placehold.it/125/A64444')
                      .col-md-9
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .item
              .row
                .col-md-6
                  div.well.bg-none
                    h3 Foreign Direct Investment
                    .row
                      .col-md-3
                        img(src='http://placehold.it/125/A64444')
                      .col-md-9
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .col-md-6
                  div.well.bg-none
                    h3 Population Growth
                    .row
                      .col-md-3
                        img(src='http://placehold.it/125/A64444')
                      .col-md-9
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          // Controls
          a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            |     
            span.sr-only Previous
          |   
          a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            |     
            span.sr-only Next

      
      //- .row.vdivide
      //-   .vdivide.col-md-6
      //-     div.well.bg-none
      //-       h3 Literacy rates
      //-       .row
      //-         .col-md-3
      //-           img(src='http://placehold.it/125/A64444')
      //-         .col-md-9
      //-           p Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.
      //-   .vdivide.col-md-6
      //-     div.well.bg-none
      //-       h3 Infant and Child Death Rates
      //-       .row
      //-         .col-md-3
      //-           img(src='http://placehold.it/125/A64444')
      //-         .col-md-9
      //-           p In the past 50 years, infant and child death rates in the developing world have been reduced by 50 percent, and health conditions around the world have improved more during this period than in all previous human history.
    .container
      p
    .container-full.bg-medium#data-stories
      .row
        .col-md-12.text-center
          h1 Data Stories          
      .row.footer
        .col-md-4
          div.well
            h3 Scatter plots
            .row
              .col-md-6
                img(src='app/images/chart_scatter.png')
              .col-md-6
                p Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.
        .col-md-4
          div.well
            h3 Line Chart, Series
            .row
              .col-md-6
                img(src='app/images/chart_pie.png')
              .col-md-6
                p In the past 50 years, infant and child death rates in the developing world have been reduced by 50 percent, and health.
        .col-md-4
          div.well
            h3 Curve Charts
            .row
              .col-md-6
                img(src='app/images/chart_curved.png')
              .col-md-6
                p Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.
        .col-md-4
          div.well
            h3 Curve Charts
            .row
              .col-md-6
                img(src='app/images/chart_curved.png')
              .col-md-6
                p Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.
        .col-md-4
          div.well
            h3 Curve Charts
            .row
              .col-md-6
                img(src='app/images/chart_curved.png')
              .col-md-6
                p Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.
        .col-md-4
          div.well.map-bg
            h3 Maps
            .row
              .col-md-12(style="visibility:hidden")
                br
                br
                br
                br
                br
              .row
                .col-md-12
                  p This is an introduction text. It has a fixed size and custom line height, so you can experiment with it.
                        
      include ./includes/footer.jade
script(src='bower_components/letteringjs/jquery.lettering.js')
script(src='bower_components/textillate/jquery.textillate.js')
script(src='bower_components/knockout/dist/knockout.js')
script(src='bower_components/lodash/lodash.min.js')
script(src='app/js/home/home.js')
script(src='app/js/common.js')
