{% extends "base.jade" %}

{% block page_title %}Privacy{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

.container
	.row
		.col-md-12
			.row
				p
			.row
				p
			ul
				li
					| CDA – Country Data Analytics
				li
					| DHS – Demographic and Health Surveys
				li
					| DoD – Department of Defense
				li
					| F – Office of U.S. Foreign Assistance Resources
				li
					| FIND – F Interagency Network Databank 
				li
					| IMF – International Monetary Fund
				li
					| MCC – Millennium Challenge Corporation 
				li
					| SDGs – Sustainable Development Goals
				li
					| State – U.S. Department of State
				li
					| UIS – UNESCO Institute for Statistics
				li
					| USAID – U.S. Agency for International Development
				li
					| WHO – World Health Organization

{% endblock %}

{% block footer_scripts %}


{% endblock %}