{% set page_title = "Report Post" %}

{% extends "forum/layout.html" %}

{% block navigation %}
{% endblock %}

{% block forumcontent %}
{% from "forum/macros.html" import render_field %}

<form class="form" role="form" method="post">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {{ form.hidden_tag() }}
    <h3>Report Post</h3>

    {{ render_field(form.reason) }}

    <button type="submit" class="btn btn-success">Report</button>
    <a class="btn btn-info" href="#" onclick="window.close();return false;">Close</a>
</form>
{% endblock %}
