{% set page_title = "Search" %}

{% extends "forum/layout.html" %}
{% from "forum/macros.html" import horizontal_field %}
{% block forumcontent %}

    <ul class="breadcrumb">
        <li><a href="{{ url_for('forum.index') }}">Forum</a></li>
        <li class="active">Search</li>
    </ul>

    <form class="form-horizontal" role="form" method="post">
        <h2>Search</h2>
        <hr>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {{ form.hidden_tag() }}
        {{ horizontal_field(form.search_types)}}
        {{ horizontal_field(form.search_query)}}
        {{ horizontal_field(form.submit) }}
    </form>

{% endblock %}
