[submodule "doc/_themes/sphinx-theme-okfn"]
	path = doc/_themes/sphinx-theme-okfn
	url = git://github.com/okfn/sphinx-theme-okfn.git
[submodule "openspending/static/dataloader"]
	path = openspending/static/dataloader
	url = https://github.com/USStateDept/FPA_Dataloader.git
[submodule "openspending/static/viz"]
	path = openspending/static/viz
	url = https://github.com/USStateDept/FPA_viz.git
[submodule "openspending/static/dataviewer"]
	path = openspending/static/dataviewer
	url = https://github.com/USStateDept/cubes_dataviewer.git
[submodule "openspending/static/openspendingjs"]
	path = openspending/static/openspendingjs
	url = https://github.com/openspending/openspendingjs.git
