[submodule "openspending/static/dataloader"]
	path = openspending/static/dataloader
	url = https://github.com/USStateDept/FPA_Dataloader.git
[submodule "openspending/static/dataviewer"]
	path = openspending/static/dataviewer
	url = https://github.com/USStateDept/cubes_dataviewer.git
