{% set page_title = "Banned Users" %}
{% set active_management_user_nav=True %}

{% extends "forum/management/management_layout.html" %}
{% block management_content %}
{% from 'forum/macros.html' import render_pagination, render_field, group_field, navlink with context %}

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {{ navlink('management.users', "Manage Users") }}
        {{ navlink('management.banned_users', 'Banned Users') }}

        {% if current_user|is_admin %}
            {{ navlink('management.add_user', "Add User") }}
        {% endif %}
    </ul>
</div><!--/.col-md-3 -->

<div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">

                    <span class="fa fa-user-times"></span> Banned Users

                    <div class="pull-right action-buttons">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs" onclick="return show_management_search()">
                                <span class="fa fa-search" style="margin-right: 0px;"></span> Search
                            </button>
                        </div>
                    </div>

                </div>
                <div class="panel-body management-body">


                    <form class="search-form" role="form" method="post">
                        {{ search_form.hidden_tag() }}
                        <div class="input-group">
                            {{ group_field(search_form.search_query, css_class="form-control") }}
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                    </form>
                </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="rowtoggle" class="action-checkall" title="Select All"/></th>
                                <th>#</th>
                                <th>Username</th>
                                <th>Posts</th>
                                <th>Date registered</th>
                                <th>Group</th>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <span class="fa fa-cog" style="margin-right: 0px;"></span> Actions
                                        </button>
                                        <ul class="dropdown-menu slidedown">
                                            <li>
                                                <a href="javascript:void(0)" onclick="return bulk_actions.execute('{{ url_for('management.unban_user') }}', 'Are you sure you want to unban these Users?')">
                                                    <span class="fa fa-flag text-success"></span> Unban selected Users
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users.items %}
                            <tr class="action-row">
                                <td><input type="checkbox" name="rowid" class="action-checkbox" value="{{ user.id }}" title="Select User"/></td>
                                <td>{{ user.id }}</td>
                                <td><a href="{{ url_for('user.profile', username=user.username) }}">{{ user.username }}</a></td>
                                <td>{{ user.post_count }}</td>
                                <td>{{ user.date_joined|format_date('%b %d %Y') }}</td>
                                <td>
                                    {% if current_user|can_ban_user and user.permissions['banned'] %}
                                        <form class="inline-form" id="unban-{{user.id}}" method="post" action="{{ url_for('management.unban_user', user_id = user.id) }}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                                            <button class="btn btn-link">
                                                <span class="fa fa-flag text-success" data-toggle="tooltip" data-placement="top" title="Unban"></span>
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    No users found matching your search criteria.
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            {{ render_pagination(users, url_for('management.users')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
    var bulk_actions = new BulkActions();

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
{% endblock %}
