{% extends "forum/layout.html" %}

{% block forumcontent %}
{%- from 'forum/macros.html' import navlink with context -%}

<div class="col-md-12" style="padding-bottom: 10px">
    <ul class="nav nav-tabs nav-justified">
    {{ navlink('management.overview', 'Overview') }}
    {{ navlink('useraccount.index_view', 'Users', active=active_management_user_nav) }}
    {{ navlink('management.unread_reports', 'Reports', active=active_management_report_nav) }}

    {% if current_user.admin %}
        {{ navlink('management.forums', 'Forums', active=active_management_forum_nav) }}
    {% endif %}
    </ul>
</div>

{% block management_content %}{% endblock %}

{% endblock %}
