{% set page_title = "Reports" %}
{% set active_management_report_nav=True %}

{% extends "forum/management/management_layout.html" %}
{% block management_content %}
{% from 'forum/macros.html' import render_pagination, navlink with context %}

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {{ navlink('management.unread_reports', "Show unread reports") }}
        {{ navlink('management.reports', "Show all reports") }}
    </ul>
</div>

<div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="fa fa-flag"></span> All Reports
                </div>
                <div class="panel-body management-body"></div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Poster</th>
                            <th>Topic</th>
                            <th>Reporter</th>
                            <th>Reason</th>
                            <th>Reported</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in reports.items %}
                        <tr>
                            <td>{{ report.id }}</td>
                            <td>{{ report.post.user.username }}</td>
                            <td><a href="{{ url_for('forum.view_post', post_id=report.post.id) }}" target="_blank">{{ report.post.topic.title }}</a></td>
                            <td>{{ report.reporter.username }}</td>
                            <td>{{ report.reason }}</td>
                            <td>{{ report.reported|time_since }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6">No reports.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            {{ render_pagination(reports, url_for('management.reports')) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
