.row.bg-dark.font-light.footer-links
  .well.bg-dark
    .col-md-5
      | &copy; 2015 All Rights Reserved
    .col-md-7
      ul.nav.nav-pills
        li
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Privacy Policy
        li
          a(href="#") Accessibility
        li
          a(href="#") Contact Us
        li
          a(href="#") Help            
        i.fa.fa-chevron-up


// /container
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
// IE10 viewport hack for Surface/desktop Windows 8 bug
script(src='app/js/lib/ie10-viewport-bug-workaround.js')