{% extends "base.jade" %}

{% block page_title %}Data Story{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

.container.content-text
	.row
		.col-md-12
			.row
				p
			.row
				p
			p
				strong U5M5 is declining around the world 
			p
				| Date: 06/23/2015
				| Author: FIND Staff
			p
				strong Summary
			p
				| The number of kids that die before their 5th birthday has been cut in half in the last 20 years.
			p
				strong Text
			p
				| For every 1,000 babies born in 1990, 90 of those kids died before turning five. This number is 
				| referred to as the under-five mortality rate, or U5MR. Encouragingly, though, in the last twenty 
				| years a great deal of progress has been made. The global U5MR has been cut in half and now stands 
				| at 45 for every 1,000 births. And this positive trend is occurring all over the world.
			P
				| All regions have shown a tremendous decline in under-five mortality since 1990. In fact, most 
				| regions have experienced a decline of 60% or more. Asia has one of the fastest declines over the 
				| past 20 years and has brought its U5MR down by about 67% (to 56). The Middle East and Latin America 
				| aren’t far behind in the percent decrease and actually have a lower U5MR at 24 and 18, respectively.
			p
				| While decreasing by half or more the rate at which kids are dying around the world is an important 
				| development gain, there is still more progress to make. Although the U5MR in Africa has come down 
				| by about half like the rest of the world, its current rate (92) is still higher than the global average 
				| from twenty years ago (90) and is nearly 15x more than the current average in North America (6.75).
			p
				strong Tags
			p
				| Health, MCH, 
			p 	
				strong Visualization

{% endblock %}

{% block footer_scripts %}


{% endblock %}