{% extends "base.jade" %}

{% block page_title %}About{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

.container
	.row
		.col-md-12.col-xs-12.col-s-12
			.row
				p
			.row
				p
			p
				| The F Interagency Databank (FIND) enables users to explore and analyze national-level data, and then 
				| share what they discover. Designed with the needs of U.S. government analysts in mind, FIND was 
				| created primarily to support informed use of data in the management of foreign assistance. But we also 
				| hope this convenient and user-friendly site will benefit a broad range of stakeholders—including the U.S. 
				| public, civil society organizations, universities, foreign aid donors, Congress, and partner country 
				| governments—who want to use country data for research and analysis. 
			p	
				| How can FIND help your analysis needs?
			ul
				li
					strong Save yourself valuable time and energy : 
					| Stop hopping from website to website scouring for 
					| data.  Let FIND do the work for you.  FIND comprises a wealth of national-level indicators from 
					| well-respected third-party sources, all in one place.
				li
					strong Be confident in the data : 
					| FIND data is further curated by U.S. government experts, primarily for 
					| U.S. government use.   FIND is data you can trust.
			p
				strong Get straight to the analysis:  
				| With FIND, all of the indicators and countries are organized in a format 
				| customized for U.S. government use.
			ul
				li
					strong Find your data story : 
					| Search for data and create visualizations that offer compelling insights 
					| about what’s happening in countries around the world—in just a few clicks!
				li
					strong Share what you discover : 
					| Every FIND chart or table has a unique URL so you can easily share it 
					| with your colleagues or post it to social media.  You can also download data in various formats – 
					| as an image, a PDF or a spreadsheet.
					|  Stack the evidence for good decisions:  Use FIND data as your vital tool of choice to support 
					| professional recommendations and decision-making.

{% endblock %}

{% block footer_scripts %}


{% endblock %}