{% extends "base.jade" %}

{% block page_title %}API{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

.container.content-text
	.row
		.col-md-12
			.row
				p
			.row
				p
			a(href="https://pythonhosted.org/cubes/server.html") API Documentation
			.row
				p
			.row
				p

{% endblock %}

{% block footer_scripts %}


{% endblock %}