{% extends "base.jade" %}

{% block page_title %}API{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

.container
	.row
		.col-md-12
			| API Documentation

{% endblock %}

{% block footer_scripts %}


{% endblock %}