{% extends "base.jade" %}

{% block page_title %}PII{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

//- privacy policy
//- h2 Privacy Policy
.container.content-text
	.row
		.col-md-12
			.row
				p
			.row
				p
			h2 Privacy Policy
			p
				| FIND is committed to protecting the privacy and security of visitors to the site. The online
				| privacy policy is outlined below. Please
				a(href="/contact") contact us
				| if you have questions about this policy. 

			p
				strong Collection and Disclosure of Information 
			p
				| The privacy and security of FIND visitors are of utmost importance. Per our own policy for 
				| personal privacy, we will collect no personal information about you during your visit to our site 
				| unless you choose to provide that information via the web-based Contact Us form used to 
				| provide site feedback. As such, this information will be optional and limited to your email 
				| address and user representation group.
			p
				strong Information Collected and Stored Automatically
			p
				| When you browse, read pages, or download information on FIND, certain technical information 
				| about your visit is gathered and stored to help us make the site more useful:
				ul
					li
						| The Internet domain (for example, "xcompany.com" if you use a private Internet access) 
						| and IP address (an IP address is a number that is automatically assigned to your computer 
						| whenever you're surfing the web) from which you access the Dashboard.
					li
						| The type of browser (Firefox, Safari, or Internet Explorer) and operating system (Windows, 
						| Mac, Unix) used to access our site.
					li
						| The date and time you visit the site.
					li
						| The pages you visit.
					li
						| If you linked to the Dashboard from another website, the address of that website
			p
				| However, we never track or record information about individuals and their visits. 
			p
				strong Privacy and Correspondence via E-mail
			p
				| Any personally identifying information you choose to send us (i.e., by including your email 
				| address in the Contact Us form) will only be used to respond to your requests. We may forward 
				| your e-mail to other Government employees who are better able to answer your questions. The 
				| information you provide is not given to any private organizations or private persons. We do not 
				| collect or use information for commercial marketing. We want to make it clear that we will not 
				| obtain personally identifying information about you when you visit our site, unless you choose 
				| to provide such information to us. 
			p
				strong Linking
			p
				| FIND may contain links to websites created and maintained by other public and/or private 
				| organizations. We provide these links as a service to our users. When users link to an outside 
				| website, they are leaving the ForeignAssistance.gov site and are subject to the privacy and 
				| security policies of the owners/sponsors of the outside website(s).
			p 	
				strong Changes to this policy
			p
				| As practices change, this policy may change as well. Changes to the policy shall not apply 
				| retroactively.

//- Accessibility
//- 
.container.content-text
	.row
		.col-md-12
			.row
				p
			.row
				//- h2 Accessibility Statement
			//- 	p
			//- | Accessibility Statement

//- PII/PIA
//- h2 PII/PIA
.container.content-text
	.row
		.col-md-12
			.row
				p
			.row
				//- h2 PII/PIA
			//- 	p
			//- | PII / PIA

//- Terms of Use
//- h2 Terms of Use
.container.content-text
	.row
		.col-md-12
			.row
				p
			.row
				p

			h2 Terms of Use					
			p
				strong Description
			p
				| The F Interagency Network Databank (FIND) strives to enhance public access to and use of data 
				| that it collects and publishes.  The datasets are managed by the Office of U.S. Foreign 
				| Assistance (F) at the U.S. Department of State and its stakeholders that are provided in a 
				| number of machine-readable formats. F provides the data free of charge subject to the terms 
				| of this agreement.  Use of data derived from the Indicators, which may appear in formats such 
				| as tables and charts, is also subject to these terms.  
			p
				strong Comments
			p
				| We encourage you to share your suggestions and ideas for using or facilitating access to the 
				| Indicators with F by contacting us by email at FIND@state.gov.
			p
				strong Data
			p
				| You are encouraged to use the Datasets to benefit yourself and others in creative ways. You 
				| may extract, download, and make copies of the information contained in the Datasets, and you 
				| may share that information with third parties. You may also use our application programming 
				| interfaces (“APIs”) to facilitate access to the Datasets, whether through a separate Web site or 
				| through another type of software application. 
			p
				strong Attribution
			p
				| By using the data from FIND, you agree to provide attribution to FIND and its content providers 
				| in the following format: FIND: INDICATOR : Data source (if known). When sharing or facilitating 
				| access to the datasets, you agree to include the same acknowledgment requirement in any 
				| sub-licenses of the data that you grant, and a requirement that any sub-licensees do the same. 
				| You may meet this requirement by providing the uniform resource locator (URL) of these terms 
				| of use.
			p
				strong Indemnification
			p
				| As a condition of use of this Site, User agrees to indemnify FIND and its affiliates from and 
				| against any and all actions, claims, losses, damages, liabilities, and expenses (including 
				| reasonable attorneys' fees) arising out User's use of this Site, including without limitation any 
				| claims alleging facts that if true would constitute a breach by User of these terms and 
				| conditions. If User is dissatisfied with any material on this Site or with any of terms and 
				| conditions of use of this Site, User's sole and exclusive remedy is to discontinue using this Site.
			p
				strong Accounts and User Registration
			p
				| Some of our services require you to create an account in order to make certain kinds of, or any, 
				| use of the service. All our accounts are subject to the following rules.
			p
				| You must be a current U.S. Government employee with an active e-mail address.
			ul
				li
					| If asked for any personal details, you must answer truthfully (see our privacy policy for 
					| what we do with those details). You must supply us with a valid e-mail address.
				li
					| You are responsible for the security of your accounts and making sure that any contact 
					| details in the account are kept up to date. If we need to contact you but are unable to 
					| do so, for example because your e-mail address is no longer valid, then any 
					| consequences of that failure will be your responsibility.
				li
					| You must let us know of any unauthorised use of your account as soon as you are able 
					| to after becoming aware of it.
			p
				strong Community members
			p
				| By registering as a community member, you are acknowledging your connection to us. You are 
				| subject to any rules for community members we may publish and we may send you email 
				| messages we think appropriate for members, for example in order to poll you on some 
				| important issue.
			p
				| Community membership is not membership in the formal sense of membership of a company 
				| limited by guarantee.
			p
				strong Content and intellectual property
			p
				| Unless otherwise stated all our services are offered under open content or data licences and 
				| you should refer to the provisions of the licence in question to find out what you are allowed to 
				| do. Some of our content belongs to third parties. Most third party data is subject to an open 
				| licence, but we cannot guarantee it. You should refer to the third party if you are in doubt.

//- Copyright
.container.content-text
	.row
		.col-md-12
			.row
				p
			.row
				h2 Copyright
				p
				| [adapted from data.gov/data-policy]
			p
				strong Licensing and Copyright
			p
				ul
					li
						| U.S. Federal data available through FIND is offered free and without restriction. Data and 
						| content created by government employees within the scope of their employment are not 
						| subject to domestic copyright protection under 17 U.S.C. § 105.
					li
						| Non-federal data available through FIND may have a different licensing method as noted on the 
						| source’s website, linked within the indicator metadata. 
			p
				strong Secondary Use
			p
				| Data accessed through FIND do not, and should not, include controls over its end use. Once the data 
				| have been downloaded from the agency’s site, the government cannot vouch for their quality and 
				| timeliness. Furthermore, the U.S. Government cannot vouch for any analyses conducted with data 
				| retrieved from FIND.
			p
				strong Attribution
			p
				| While not required, when using content, data, documentation, code, and related materials from FIND in 
				| your own work, we ask that proper credit be given. An example citation is provided below:
			p
				| Data retrieved from FIND (https://find.state.gov/); originally from [original source]
			p
				| [adapted from: http://data.pepfar.net/copyright, which borrowed from 
				| http://www.state.gov/misc/87529.htm]
			p
				| Use of U.S. State Department Seal, the U.S. Great Seal, and Other Official Insignia
				| U.S. State Department seals, the U.S. Great Seal, logos, and other official insignia may not be used or 
				| reproduced without written permission. Use of the Great Seal of the United States is governed by Public 
				| Law 91-651, Title 18 of the United States Code. This is a criminal statute with penal provisions, 
				| prohibiting certain uses of the Great Seal that would convey or reasonably be calculated to convey a 
				| false impression of sponsorship or approval by the Government of the United States or any department, 
				| agency, or instrumentality thereof.
			p
				| Although the Secretary of State is custodian of the Seal, the Department of State has no authority to 
				| grant or withhold permission for use of reproductions, facsimiles, or likenesses of the Seal, or any part 
				| thereof. It depends on the circumstances in each case whether the particular use of the Seal would be 
				| improper and, as such, it is a function of the Department of Justice to determine whether any particular 
				| use violates the Statute. Consequently, the Department of State's policy has been to discourage use of 
				| the Great Seal, except when used for governmental or educational purposes, and the Department does 
				| not provide artwork for its use other than for official State Department material. Contact us if you have 
				| any questions on use of the Great Seal or other official insignia.
			p
				a(href="http://foia.state.gov") FOIA Statement

{% endblock %}

{% block footer_scripts %}


{% endblock %}