.row.bg-medium.font-light.footer-links
  .well.bg-medium
    .col-md-5
      | 2015 All Rights Reserved
    .col-md-7
      ul.nav.nav-pills
        li
          a(href="/about") About
        //- li
          //- a(href="/privacy") Privacy Policy
        //- li
          //- a(href="/accessibility") Accessibility
        //- li
        //-   a(href="/api") API
        
        li
          a(href="/legal") Legal
        //- li
        //-   a(href="/pii") PII/PIA
        li
          a(href="/contact") Contact Us
        //- li
        //-   a(href="/terms") Terms of Use
        // li
        //  a(href="/help") Help   
        li
          a(href="/glossary") Glossary of Terms
        //- li
        //-   a(href="/copyright") Copyright
        li
          a(href="/faq") FAQ
        //- i.fa.fa-chevron-up


// /container
//
// Placed at the end of the document so the pages load faster
script(src=' {{ static_path("find-ui/bower_components/jquery/dist/jquery.min.js") }}' )
script(src=' {{ static_path("find-ui/bower_components/bootstrap/dist/js/bootstrap.min.js") }}')
// IE10 viewport hack for Surface/desktop Windows 8 bug
//script(src=' {{ static_path("js/lib/ie10-viewport-bug-workaround.js") }}')