// Fixed navbar
#modal.modal.fade(style="display:none")
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title
      .modal-body
      .modal-footer
  .modal.body
nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation       
        span.icon-bar   
        span.icon-bar     
        span.icon-bar
      a.navbar-brand(href="{{ url_for('home.index') }}") FIND
        p(style="font-size:12px; width:100%; position:relative; top:-1px; left:-3px; text-align:right;") beta
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="{{ url_for('viz.data') }}") DATA
        li
          a(href="{{ url_for('viz.categories') }}") CATEGORIES
        li
          a(href="{{ url_for('viz.countries') }}") COUNTRIES
        li
          a(href="{{ url_for('viz.visualization') }}") BUILD A VISUALIZATION
        //- li
        //-   a(href="/api") API
        //- li
          a(href="/forum") FORUM
      ul.nav.navbar-nav.navbar-right
        {% if logged_in and current_user.get_id() != 999999999 %}
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown')
            strong 
            {{ current_user.fullname }}
          ul.dropdown-menu.account-dropdown
            li
              a(href="{{url_for('account.profile') }}") User Profile
            li.divider
            li
              p
                strong Forum
              a(href="{{ url_for('forum.index') }}") Forum   
              a(href="{{ url_for('forum.search') }}") Forum Search       
              a(href="{{ url_for('forum.topictracker') }}") Tracked Topics
            li.divider
            {% if current_user.admin %}
            li
              p
                strong Admin Only
              a(href="/admin") Admin Section
              a(href="{{ url_for('management.overview') }}") Forum Management
              a(href="{{ url_for('findadmin.dataloader') }}") Data Loader
            {% endif %}
            li.divider
            li
              a(href="{{url_for('account.logout')}}") Logout
          {% else %}
          li
            a(href="{{url_for('account.login')}}") Login/Register (USG Only)
          {% endif %}



