<footer>
      <div class="row bg-dark font-light footer-links">
        <div class="well bg-dark">
          <div class="col-md-5">&copy; 2015 All Rights Reserved</div>
          <div class="col-md-7">
            <ul class="nav nav-pills">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Help            </a></li><i class="fa fa-chevron-up"></i>
            </ul>
          </div>
        </div>
      </div>
</footer>
