{% extends "base.jade" %}

{% block page_title %}Accessibility{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

.container
	.row
		.col-md-12
			| Accessibility Statment

{% endblock %}

{% block footer_scripts %}


{% endblock %}