a(href="{{ url_for('indicators.categories') }}") <<-- Return to categories (This will be improved)
{% for dataset in datasets %}
.col-md-3.col-xs-6.row_block_display
  div.well.category-wrapper()
    h4 {{ dataset.label }}
    div 
        a(href="/api/slicer/cube/geometry/cubes_aggregate?cubes={{ dataset.name }}&drilldown=geometry__time|geometry__country_level0@sovereignt", target="_blank") Download Data as JSON
    div 
        a(href="/api/slicer/cube/geometry/cubes_aggregate?cubes={{ dataset.name }}&drilldown=geometry__time|geometry__country_level0@sovereignt&format=csv") Download Data as CSV
    small {{ dataset.description }}
{% endfor %}
