/*Variables Stylus*/	
@import "variables.styl"

// @font-face
// 	font-family 'Roboto'
// 	src url('Roboto-Medium-webfont.eot')
// 	src url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('Roboto-Medium-webfont.woff') format('woff'),
// 		url('Roboto-Medium-webfont.ttf') format('truetype'),
// 		url('Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
// 	font-weight 300
// 	font-style normal
	
// @font-face
// 	font-family 'Roboto'
// 	src url('Roboto-Regular-webfont.eot')
// 	src url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('Roboto-Regular-webfont.woff') format('woff'),
// 		url('Roboto-Regular-webfont.ttf') format('truetype'),
// 		url('Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
// 	font-weight 300
// 	font-style normal
@font-face
	font-family 'fa-icons'
	src url('../fonts/fa-icons.eot')
	src url('../fonts/fa-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fa-icons.woff') format('woff'),
		url('../fonts/fa-icons.ttf') format('truetype'),
		url('../fonts/fa-icons.svg#faicons') format('svg');
	font-weight 300
	font-style normal

html, body
	//min-height 2000px
	padding-top 30px
	font-family $family
	
.app a
	color #CCC95C

.app .navbar-default
	background-color $bgMedium
	
	.navbar-nav > .active > a
		background-color $bgDark

	.navbar-nav > .active > a,
	.navbar-nav > li > a
		color $colorLight
		font-weight $weightMedium
		font-size $sizeMenu
		font-style normal
		
		
	
	.navbar-nav > li:nth-child(2) > a
		font-weight $weightLight

.app .navbar-brand
	color $colorLight
	font-weight $weightMedium
	font-style normal
	font-size $sizeBrand
	padding 20px
	
.app .navbar-collapse.collapse
	height $heightHeader !important
	
.app .bg-none
	background none
	
.app .bg-light
	background-color $bgLight
	
.app .bg-dark
	background-color $bgDark
	
.app .bg-medium
	background-color $bgMedium
	
.app .font-light
	color $colorLight
	
.app .font-dark
	color $colorDark
	
.app .well
	border-radius $radius0
	border none
	box-shadow none
	
	.glyphicon
		width 100%
		text-align center
		font-size 40px
	
.app img
	width 100%
	height auto
	max-width 150px
	
.app .center-me
	//text-align center
	
.app .bg-container
	background-color $bgContainer
	
.app .map-bg
	background url(../images/map.png) center center no-repeat
	
.app .jumbotron	
	border-radius $radius0
	
	h1
		font-size 46px
		font-weight $weightLight
		font-style normal
		color $colorLight
		text-align center
		padding-bottom 20px
	p
		font-weight $weightLight
		font-style normal
		color $colorLight
		text-align center
		
	.search-group
		color $colorDark
		
	.form-control-feedback
		width 60px
		height 68px
		line-height 60px
		font-size 34px
		
	.main-search
		width 100%
		padding 6px
		font-size 34px
		font-weight $weightLight
		font-style normal
		border-radius $radius5
		border none
		

		
.app .footer
	
	h1
		font-size 46px
		font-weight $weightLight
		font-style normal
		color $colorLight
		text-align left
		padding-bottom 20px
		
.app .footer-links
	font-weight $weightLight
	font-size $sizeFooter
	font-style normal
	
		
	.nav > li > a
		padding 0px
		color $colorLight
		
	.nav > li > a:hover
		background none
	
	ul li:not(:last-child)
		border-right 1px solid #FFF
		margin-right 20px
		padding-right 20px
		
.app .btn-default
	border-top none
	border-left none
	border-right none
	border-radius $radius0
	color $bgMedium
	font-size 28px
	font-weight $weightMedium
	
.app .btn-group:nth-child(2)
	border-left 1px solid #ccc
	

		
/****** MEDIA QUERIES ************/
	

@media (min-width: 768px)
	
	.app .jumbotron
		padding 10px
		
	.navbar-nav > li > a
		padding 20px
		
/*categories*/
@import "categories.styl"
@import "countries.styl"

/*App Stylus*/	
//@import "../js/components/app/appStyle.styl"

/*Header Stylus*/	
//@import "../js/components/dashboard/dashboardStyle.styl"

/*Header Stylus*/	
//@import "../js/components/header/headerStyle.styl"

/*Map Stylus*/	
//@import "../js/components/map/mapStyle.styl"

/*Map Stylus*/	
//@import "../js/components/tools/toolsStyle.styl"