.app .icon-human_assistance:after {
  content: '\e608';
}
.app .icon-peace_and_security:after {
  content: '\e60d';
}
.app .icon-democracy_human_rights_and_governance:after {
  content: '\e606';
}
.app .icon-economic_development:after {
  content: '\e602';
}
.app .icon-education_and_social_services:after {
  content: '\e603';
}
.app .icon-health:after {
  content: '\e607';
}
.app .icon-multi_sector:after {
  content: '\e600';
}
.app .icon-environment:after {
  content: '\e604';
}
.app .icon-program_management:after {
  content: '\e605';
}
.app [class^="icon-"],
.app [class*=" icon-"] {
  font-family: $familyF;
  font-size: 66px;
  text-align: center;
}
.app .row_block_display {
  display: inline-block;
  width: 283px;
  height: 240px;
}
.app .noun_vote_29586 {
  background: url("../images/noun_vote_29586.png") center center no-repeat;
}
.app .noun_community-health-advocate_3746 {
  background: url("../images/noun_community-health-advocate_3746.png") center center no-repeat;
}
.app .noun_education_79148 {
  background: url("../images/noun_education_79148.png") center center no-repeat;
}
.app .noun_economic-growth_28093 {
  background: url("../images/noun_economic-growth_28093.png") center center no-repeat;
}
.app .noun_help_28806 {
  background: url("../images/noun_help_28806.png") center center no-repeat;
}
.app .noun_group_28631 {
  background: url("../images/noun_group_28631.png") center center no-repeat;
}
.app .noun_globe_76672 {
  background: url("../images/noun_globe_76672.png") center center no-repeat;
}
.well h4 {
  text-align: center;
}
.app .category {
  height: 100px;
  background-size: contain;
}
.app .category-wrapper {
  border-radius: $radius15;
  border: 1px solid $bgContainer;
}
