
span.expandbtn.rotate feedback
div.popupcontainer
    div.warningmessage  
        p Welcome to FIND! Our site is still under construction, as we are still continuing to add components throughout. If you have any suggestions, please fill out the form below. To minimize this sidebar, press the feedback tab.
    form(id="feedbackform")
        input(type="hidden", name="csrf_token", value="{{ csrf_token() }}")

        label(for="email") Email (Optional)
        input(name="email")

        label(for="name") Name (Optional)
        input(name="name")

        label(for="message") Suggestion/Comment
        textarea(name="message", type="textarea")

        input(type="submit", id="feedbackbtn", value="Send Message")

link(href='{{ static_path("find-ui/dist/app/css/feedback.css") }}' , rel='stylesheet')
script(src="{{ static_path('find-ui/bower_components/jquery-cookie/jquery.cookie.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/feedback.js') }}")