{% extends "base.jade" %}

{% block page_title %}Privacy{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

.container
	.row
		.col-md-12
			.row
				p
			.row
				p
			p
				| FIND is committed to protecting the privacy and security of visitors to the site. The online
				| privacy policy is outlined below. Please
				a(href="/contact") contact us
				| if you have questions about this policy. 

			p
				strong Collection and Disclosure of Information 
			p
				| The privacy and security of FIND visitors are of utmost importance. Per our own policy for 
				| personal privacy, we will collect no personal information about you during your visit to our site 
				| unless you choose to provide that information via the web-based Contact Us form used to 
				| provide site feedback. As such, this information will be optional and limited to your email 
				| address and user representation group.
			p
				strong Information Collected and Stored Automatically
			p
				| When you browse, read pages, or download information on FIND, certain technical information 
				| about your visit is gathered and stored to help us make the site more useful:
				ul
					li
						| The Internet domain (for example, "xcompany.com" if you use a private Internet access) 
						| and IP address (an IP address is a number that is automatically assigned to your computer 
						| whenever you're surfing the web) from which you access the Dashboard.
					li
						| The type of browser (Firefox, Safari, or Internet Explorer) and operating system (Windows, 
						| Mac, Unix) used to access our site.
					li
						| The date and time you visit the site.
					li
						| The pages you visit.
					li
						| If you linked to the Dashboard from another website, the address of that website
			p
				| However, we never track or record information about individuals and their visits. 
			p
				strong Privacy and Correspondence via E-mail
			p
				| Any personally identifying information you choose to send us (i.e., by including your email 
				| address in the Contact Us form) will only be used to respond to your requests. We may forward 
				| your e-mail to other Government employees who are better able to answer your questions. The 
				| information you provide is not given to any private organizations or private persons. We do not 
				| collect or use information for commercial marketing. We want to make it clear that we will not 
				| obtain personally identifying information about you when you visit our site, unless you choose 
				| to provide such information to us. 
			p
				strong Linking
			p
				| FIND may contain links to websites created and maintained by other public and/or private 
				| organizations. We provide these links as a service to our users. When users link to an outside 
				| website, they are leaving the ForeignAssistance.gov site and are subject to the privacy and 
				| security policies of the owners/sponsors of the outside website(s).
			p 	
				strong Changes to this policy
			p
				| As practices change, this policy may change as well. Changes to the policy shall not apply 
				| retroactively.

{% endblock %}

{% block footer_scripts %}


{% endblock %}