/*Variables Stylus*/
@font-face {
  font-family: 'fa-icons';
  src: url("../fonts/fa-icons.eot");
  src: url("../fonts/fa-icons.eot?#iefix") format('embedded-opentype'), url("../fonts/fa-icons.woff") format('woff'), url("../fonts/fa-icons.ttf") format('truetype'), url("../fonts/fa-icons.svg#faicons") format('svg');
  font-weight: 300;
  font-style: normal;
}
html,
body {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
}
.app a {
  color: #ccc95c;
}
.app .navbar-default {
  background-color: #5447a2;
}
.app .navbar-default .navbar-nav > .active > a {
  background-color: #1c1837;
}
.app .navbar-default .navbar-nav > .active > a,
.app .navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
.app .navbar-default .navbar-nav > li:nth-child(2) > a {
  font-weight: 200;
}
.app .navbar-brand {
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 33px;
  padding: 20px;
}
.app .navbar-collapse.collapse {
  height: 60px !important;
}
.app .bg-none {
  background: none;
}
.app .bg-light {
  background-color: rgba(138,127,187,0.8);
}
.app .bg-dark {
  background-color: #1c1837;
}
.app .bg-medium {
  background-color: #5447a2;
}
.app .font-light {
  color: #fff;
}
.app .font-dark {
  color: #000;
}
.app .well {
  border-radius: 0px;
  border: none;
  box-shadow: none;
}
.app .well .glyphicon {
  width: 100%;
  text-align: center;
  font-size: 40px;
}
.app img {
  width: 100%;
  height: auto;
  max-width: 150px;
}
.app .bg-container {
  background-color: #d8d8d8;
}
.app .map-bg {
  background: url("../images/map.png") center center no-repeat;
}
.app .jumbotron {
  border-radius: 0px;
}
.app .jumbotron h1 {
  font-size: 46px;
  font-weight: 200;
  font-style: normal;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}
.app .jumbotron p {
  font-weight: 200;
  font-style: normal;
  color: #fff;
  text-align: center;
}
.app .jumbotron .search-group {
  color: #000;
}
.app .jumbotron .form-control-feedback {
  width: 60px;
  height: 68px;
  line-height: 60px;
  font-size: 34px;
}
.app .jumbotron .main-search {
  width: 100%;
  padding: 6px;
  font-size: 34px;
  font-weight: 200;
  font-style: normal;
  border-radius: 5px;
  border: none;
}
.app .footer h1 {
  font-size: 46px;
  font-weight: 200;
  font-style: normal;
  color: #fff;
  text-align: left;
  padding-bottom: 20px;
}
.app .footer-links {
  font-weight: 200;
  font-size: 14px;
  font-style: normal;
}
.app .footer-links .nav > li > a {
  padding: 0px;
  color: #fff;
}
.app .footer-links .nav > li > a:hover {
  background: none;
}
.app .footer-links ul li:not(:last-child) {
  border-right: 1px solid #fff;
  margin-right: 20px;
  padding-right: 20px;
}
.app .btn-default {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  color: #5447a2;
  font-size: 28px;
  font-weight: 400;
}
.app .btn-group:nth-child(2) {
  border-left: 1px solid #ccc;
}
/****** MEDIA QUERIES ************/
@media (min-width: 768px) {
  .app .jumbotron {
    padding: 10px;
  }
  .navbar-nav > li > a {
    padding: 20px;
  }
}
/*categories*/
.app .icon-category-70:after {
  content: '\e608';
}
.app .icon-category-10:after {
  content: '\e60d';
}
.app .icon-category-20:after {
  content: '\e606';
}
.app .icon-category-50:after {
  content: '\e602';
}
.app .icon-category-40:after {
  content: '\e603';
}
.app .icon-category-30:after {
  content: '\e607';
}
.app .icon-category-90:after {
  content: '\e600';
}
.app .icon-category-60:after {
  content: '\e604';
}
.app .icon-category-80:after {
  content: '\e605';
}
.app [class^="icon-"],
.app [class*=" icon-"] {
  font-family: 'fa-icons', sans-serif;
  font-size: 66px;
  text-align: center;
}
.app .noun_vote_29586 {
  background: url("../images/noun_vote_29586.png") center center no-repeat;
}
.app .noun_community-health-advocate_3746 {
  background: url("../images/noun_community-health-advocate_3746.png") center center no-repeat;
}
.app .noun_education_79148 {
  background: url("../images/noun_education_79148.png") center center no-repeat;
}
.app .noun_economic-growth_28093 {
  background: url("../images/noun_economic-growth_28093.png") center center no-repeat;
}
.app .noun_help_28806 {
  background: url("../images/noun_help_28806.png") center center no-repeat;
}
.app .noun_group_28631 {
  background: url("../images/noun_group_28631.png") center center no-repeat;
}
.app .noun_globe_76672 {
  background: url("../images/noun_globe_76672.png") center center no-repeat;
}
.well h4 {
  text-align: center;
}
.app .category {
  height: 100px;
  background-size: contain;
}
.app .category-wrapper {
  border-radius: 15px;
  border: 1px solid #d8d8d8;
}
.app .afghanistan {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Afghanistan.jpg") center center no-repeat;
}
.app .albania {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Albania.jpg") center center no-repeat;
}
.app .algeria {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Algeria.jpg") center center no-repeat;
}
.app .andorra {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Andorra.jpg") center center no-repeat;
}
.app .angola {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Angola.jpg") center center no-repeat;
}
.app .antigua {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Antigua_and_Barbuda.jpg") center center no-repeat;
}
.app .argentina {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Argentina.jpg") center center no-repeat;
}
.app .armenia {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Armenia.jpg") center center no-repeat;
}
.app .australia {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Australia.jpg") center center no-repeat;
}
.app .austria {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Austria.jpg") center center no-repeat;
}
.app .azerbaijan {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Azerbaijan.jpg") center center no-repeat;
}
.app .bahamas {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Bahamas.jpg") center center no-repeat;
}
.well h4 {
  text-align: center;
}
.app .category {
  height: 100px;
  background-size: contain;
}
.app .category-wrapper {
  border-radius: 15px;
  border: 1px solid #d8d8d8;
}
/*App Stylus*/
/*Header Stylus*/
/*Header Stylus*/
/*Map Stylus*/
/*Map Stylus*/
