.app .afghanistan {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Afghanistan.jpg") center center no-repeat;
}
.app .albania {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Albania.jpg") center center no-repeat;
}
.app .algeria {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Algeria.jpg") center center no-repeat;
}
.app .andorra {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Andorra.jpg") center center no-repeat;
}
.app .angola {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Angola.jpg") center center no-repeat;
}
.app .antigua {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Antigua_and_Barbuda.jpg") center center no-repeat;
}
.app .argentina {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Argentina.jpg") center center no-repeat;
}
.app .armenia {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Armenia.jpg") center center no-repeat;
}
.app .australia {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Australia.jpg") center center no-repeat;
}
.app .austria {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Austria.jpg") center center no-repeat;
}
.app .azerbaijan {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Azerbaijan.jpg") center center no-repeat;
}
.app .bahamas {
  background: url("http://www.sciencekids.co.nz/images/pictures/flags96/Bahamas.jpg") center center no-repeat;
}
.well h4 {
  text-align: center;
}
.app .category {
  height: 100px;
  background-size: contain;
}
.app .category-wrapper {
  border-radius: $radius15;
  border: 1px solid $bgContainer;
}
