
<div class="form-group" ng-repeat="(columnkey, columnvalue) in modeler">
  <h4>{{ columnvalue.form.label }}</h4>
  <input type="text" placeholder="label" ng-model="columnvalue.label"/>
  <div class="col-sm-10">
    <select class="form-control"
      ng-model="columnvalue.column"
      ng-options="c.code as c.label for c in reference.datacolumns">
    </select>
  </div>
  <div ng-if="columnvalue.form.extraoptions">
    <span>{{ columnvalue.form.extraoptions.label}}</span>
    <select class="form-control"
      ng-model="columnvalue.datatype"
      ng-options="c.code as c.label for c in columnvalue.form.extraoptions.options">
    </select>
    <!-- code to render a large video block-->
  </div>
  <input type="text" placeholder="description" ng-model="columnvalue.description"/>
    <p class="help-block" ng-show="form.currency.$invalid"
      ng-bind="form.currency.$message"></p>
  <div model-field-checker data-columname="{{ columnkey }}"></div>
</div>


