{% extends "base.jade" %}

{% block page_title %}Privacy{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

.container.content-text
	.row
		.col-md-12
			.row
				p
			.row
				p
				| [adapted from data.gov/data-policy]
			p
				strong Licensing and Copyright
			p
				ul
					li
						| U.S. Federal data available through FIND is offered free and without restriction. Data and 
						| content created by government employees within the scope of their employment are not 
						| subject to domestic copyright protection under 17 U.S.C. § 105.
					li
						| Non-federal data available through FIND may have a different licensing method as noted on the 
						| source’s website, linked within the indicator metadata. 
			p
				strong Secondary Use
			p
				| Data accessed through FIND do not, and should not, include controls over its end use. Once the data 
				| have been downloaded from the agency’s site, the government cannot vouch for their quality and 
				| timeliness. Furthermore, the U.S. Government cannot vouch for any analyses conducted with data 
				| retrieved from FIND.
			p
				strong Attribution
			p
				| While not required, when using content, data, documentation, code, and related materials from FIND in 
				| your own work, we ask that proper credit be given. An example citation is provided below:
			p
				| Data retrieved from FIND (https://find.state.gov/); originally from [original source]
			p
				| [adapted from: http://data.pepfar.net/copyright, which borrowed from 
				| http://www.state.gov/misc/87529.htm]
			p
				| Use of U.S. State Department Seal, the U.S. Great Seal, and Other Official Insignia
				| U.S. State Department seals, the U.S. Great Seal, logos, and other official insignia may not be used or 
				| reproduced without written permission. Use of the Great Seal of the United States is governed by Public 
				| Law 91-651, Title 18 of the United States Code. This is a criminal statute with penal provisions, 
				| prohibiting certain uses of the Great Seal that would convey or reasonably be calculated to convey a 
				| false impression of sponsorship or approval by the Government of the United States or any department, 
				| agency, or instrumentality thereof.
			p
				| Although the Secretary of State is custodian of the Seal, the Department of State has no authority to 
				| grant or withhold permission for use of reproductions, facsimiles, or likenesses of the Seal, or any part 
				| thereof. It depends on the circumstances in each case whether the particular use of the Seal would be 
				| improper and, as such, it is a function of the Department of Justice to determine whether any particular 
				| use violates the Statute. Consequently, the Department of State's policy has been to discourage use of 
				| the Great Seal, except when used for governmental or educational purposes, and the Department does 
				| not provide artwork for its use other than for official State Department material. Contact us if you have 
				| any questions on use of the Great Seal or other official insignia.
			p
				a(href="http://foia.state.gov") FOIA Statement


{% endblock %}

{% block footer_scripts %}


{% endblock %}