{% extends "base.html" %}

{% block page_title %}{% trans %}Badges in OpenSpending{% endtrans %}{% endblock %}

{% block content %}

<h2 class="page-header">{% trans %}Badges in OpenSpending{% endtrans %}</h2>

<div class="row">


  <div class="span4">


    {% formfill form_fill with form_errors %}
    <form action="{{url_for('sourcefile.upload')}}" method="post" enctype="multipart/form-data">
    
      	<input type="file" name="rawfile">
	
      	<div>
      	  <button class="btn btn-success">{% trans %}Create badge{% endtrans %}</button>
      	</div>
      </fieldset>
    </form>
    {% endformfill %}
  </div>
</div>
{% endblock %}

