doctype html
html(lang='en')
  include ./includes/head.jade
  body.app
    include ./includes/navigation.jade
    .container
      // Main component for a primary marketing message or call to action
      
      .row.jumbotron.bg-light
        p &nbsp;
        h1 Explore Indicators, Effortlessly
        //-p
          //-| Come for the Indicator, stay for the data. Modify and enhance the data how you want.
        .row
          .col-md-2
          .col-md-8
            p.search-group
              div.form-group.has-feedback
                input.main-search(type='text' placeHolder='Find a country or indicator')
                span.glyphicon.glyphicon-search.form-control-feedback
          //i.fa.fa-search
          //span.glyphicon.glyphicon-search.form-control-feedback
          .col-md-2
                 
        p
          | Or browse by: 
          a Country
          | , 
          span or 
          a Indicator
          //a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') View navbar docs &raquo;
      
      .row
        .col-md-6
          div.well.bg-container
            h3 Welcome to FIND
            .row
              .col-md-3
                  img(src='http://placehold.it/125/AD3F8C')
              .col-md-9
                p
                | Explore country-level indicators from a variety of sources and sectors. Visualize and compare the data to better understand the context. Share what you discover.
                | Explore country-level indicators from a variety of sources and sectors. Visualize and compare the data to better understand the context. Share what you discover.
                | Explore country-level indicators from a variety of sources and sectors. Visualize and compare the data to better understand the context. Share what you discover.
                | Explore country-level indicators from a variety of sources and sectors. Visualize and compare the data to better understand the context. Share what you discover.
                | Explore country-level indicators from a variety of sources and sectors. Visualize and compare the data to better understand the context. Share what you discover.
                | Explore country-level indicators from a variety of sources and sectors.
                br
                br
        .col-md-6
          .row
            .col-md-12
              div.well.bg-container
                h3 Literacy rates
                .row
                  .col-md-3
                    img(src='http://placehold.it/125/AD3F8C')
                  .col-md-9
                    p Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.
          .row
            .col-md-12
              div.well.bg-container
                h3 Infant and Child Death Rates
                .row
                  .col-md-3
                    img(src='http://placehold.it/125/AD3F8C')
                  .col-md-9
                    p In the past 50 years, infant and child death rates in the developing world have been reduced by 50 percent, and health conditions around the world have improved more during this period than in all previous human history.

      .row.bg-medium.footer
        .well.bg-medium.font-light
          h1 Data Stories
          .col-md-4.font-dark
            div.well.bg-container
              h3 Latest Updates
              .row
                .col-md-3
                  img(src='http://placehold.it/76/AD3F8C')
                .col-md-9
                  p Synergizes communities. Visualize and compare the data to better understand the context. Share what you discover.
              .row
                .col-md-3
                  img(src='http://placehold.it/76/AD3F8C')
                .col-md-9
                  p Synergizes communities. Visualize and compare the data to better understand the context. Share what you discover.
              .row
                .col-md-3
                  img(src='http://placehold.it/76/AD3F8C')
                .col-md-9
                  p Synergizes communities. Visualize and compare the data to better understand the context. Share what you discover.
              .row
                .col-md-3
                  img(src='http://placehold.it/76/AD3F8C')
                .col-md-9
                  p Synergizes communities. Visualize and compare the data to better understand the context. Share what you discover.
          .col-md-8.font-dark
            .row
              .col-md-6
                div.well.bg-container
                  h3 Scatter plots
                  .row
                    .col-md-6
                      img(src='app/images/chart_scatter.png')
                    .col-md-6
                      p Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.
              .col-md-6
                div.well.bg-container
                  h3 Line Chart, Series
                  .row
                    .col-md-6
                      img(src='app/images/chart_pie.png')
                    .col-md-6
                      p In the past 50 years, infant and child death rates in the developing world have been reduced by 50 percent, and health.
            .row
              .col-md-6
                div.well.bg-container
                  h3 Curve Charts
                  .row
                    .col-md-6
                      img(src='app/images/chart_curved.png')
                    .col-md-6
                      p Literacy rates are up 33 percent worldwide in the last 25 years, and primary school enrollment has tripled in that period.
              .col-md-6
                div.well.bg-container.map-bg
                  h3 Maps
                  .row
                    .col-md-12(style="visibility:hidden")
                      br
                      br
                      br
                      br
                    .row
                      .col-md-12
                        p This is an introduction text. It has a fixed size and custom line height, so you can experiment with it.
                        
      include ./includes/footer.jade
