{% extends "base.jade" %}

{% block page_title %}Verify Message{% endblock %}

{% block optional_head %}


{% endblock %} 

{% block content %}
.container.content-text
	.row
		.col-md-12.col-xs-12.col-s-12
			.row
				p
			.row
				h4 {{ message }}
	.row
		.col-md-12.col-xs-12.col-s-12
			.row
				small The emailed link will direct you to change your password and login. 


{% endblock %}




