{% extends "base.jade" %}

{% block page_title %}Verify Message{% endblock %}

{% block optional_head %}


{% endblock %} 

{% block content %}
div The message would have been sent below if this was a live version, but we are still in Beta, so we provided the message on a webpage.
div {{ message }}

{% endblock %}




