{% extends "base.jade" %}

{% block page_title %}Login{% endblock %}

{% block optional_head %}


{% endblock %} 

{% block content %}
div.container
  .row
    p &nbsp;
  .row
    h4.text-center Sign into FIND. This application is under development, so please excuse any issues you may encounter.
  .row
    div.col-md-4
      h3 Login
      {% formfill form_fill_login with form_errors_login %}
      form.basic.login.form-horizontal(id="login", action="{{ url_for('account.login') }}", method="POST")
        input(type="hidden", name="csrf_token", value="{{ csrf_token() }}")
        fieldset
          div.form-group
            label(for="login") Email Login
            input.form-control(name="login", placeholder="USG Email Address")
          div.form-group
            label(for="password") Password 
            input.form-control(name="password", type="password", placeholder="Password")
          div.form-actions
            input.btn.btn-primary(value="Login", type="submit")
      {% endformfill %}
      p.help-block Forgot your password? 
        a(href="{{ url_for('account.trigger_reset') }}") Request a password reset.
    div.col-md-2.col-md-offset-1
      h2.text-center - OR -
    div.col-md-4.col-md-offset-1
      h3 Create an Account
      p
        i You must provide a US government email address to register an account with FIND.
      {% formfill form_fill with form_errors %}
      form.basic.register.form-horiztonal(id="register", action="{{ url_for('account.register') }}", method="POST")
        input(type="hidden", name="csrf_token", value="{{ csrf_token() }}")
        fieldset
          div.form-group
            label(for="email") Email USG Only
            input.form-control(name="email", placeholder="USG Email Address")
          div.form-group
            label(for="fullname") First and Last Name
            input.form-control(name="fullname", placeholder="Enter First and Last Name")
          div.form-group
            label.checkbox(for="terms")
            input.form-group(name="terms", type="checkbox") 
            |  I agree to the <a href="/terms" target='_blank'>Terms of Use</a> and <a target='_blank' href="/privacy">Privacy Policy</a>.
          div.form-actions
            input.btn.btn-primary(value="Create new account", type="submit")
      {% endformfill %}
  .row
    p &nbsp;


{% endblock %}




