{% extends "base.jade" %}

{% block page_title %}Message{% endblock %}

{% block optional_head %}


{% endblock %} 

{% block content %}
.container.content-text
	.row
		.col-md-12.col-xs-12.col-s-12
			.row
				p
			.row
				h4 {{ message }}

{% endblock %}




