{% extends "base.jade" %}

{% block page_title %}{% trans %}Password reset{% endtrans %}{% endblock %}

{% block content %}
<h2 class="page-header">Reset your password</h2>

<div class="container">
  <div class="row">
    <div class="span4">
      <p>If you have forgotten the password for your account, you can
        request an email with a link that will allow you to reset your
        account password.</p>
    </div>
    <div class="span8">
      <p>
        Please enter the email address you used to register your account:
      </p>
      {% formfill form_fill with form_errors %}
      <form action="{{ url_for('account.trigger_reset') }}" method="POST" class="form-inline">
        <input type="text" class="input-large span5" name="email" placeholder="Email" />
        <button type="submit" class="btn">Request a reset</button>
      </form>
      {% endformfill %}
    </div>
  </div>
</div>

{% endblock %}
