<style>
table.dv_table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 85%;
}

table.dv_table th{
    padding: 10px;
    text-align: center;
}

table.dv_table td{
    border: 1px solid black;
    padding: 5px;
}

table.dv_table td.center{
    text-align: center;
}

table.dv_table td.no-border{
    text-align: center;
    border: none;
}

table.dv_table td.no-border.no-dv-yet{
    font-style: italic;
}
</style>