{% extends "base.jade" %}

{% block page_title %}User{% endblock %}


{% block banner %}

{% endblock %}

{% from 'forum/macros.html' import render_pagination %}



{% block optional_head %}
link(href="{{ static_path('find-ui/bower_components/jquery-ui/themes/smoothness/jquery-ui.css') }}", rel='stylesheet')
link(href="{{ static_path('find-ui/dist/app/css/user.css') }}", rel='stylesheet')
{% endblock %}

{% block content %}
.container.content-text
  .row
    .col-md-12
      .row
        h1 {{ account.fullname}}
      .row
        {% if account.website %}
        a(href="{{ account.website }}", target="_blank") {{ account.website }}
        {% endif %}
      .row
        {% if current_user.id == account.id or current_user.admin %}
        a(href="{{ url_for('account.edit_profile', account_id=account.id) }}")
          button Edit Profile
        {% endif %}
      .row
        h2 Saved Data Views
        table.dv_table
          {% for views in dataviews %}
          {% if loop.first %}
          tr
            th Created Date
            th Visualization URL
            {% if current_user.id == account.id %}
            th Delete
            {% endif %}
          {% endif %}
          tr
            td {{ views.created_at |format_date}}
            td 
              a(href="/data-visualization{{ views.settings.hash }}"){{ views.title }}
            {% if current_user.id == account.id %}
            td.center
              a(href="/user/removedv/{{ views.id }}") X
            {% endif %}
          {% else %}
          tr
            td(colspan=5).no-border.no-dv-yet You have not saved any dataviews yet.
          {% endfor %}
      .row
        {% if current_user.id == account.id %}
        h2 Topics Tracked
        a(href="{{ url_for('forum.topictracker') }}") You are tracking {{ topics_tracked }} Topics
        {% endif %}
{% endblock %}

{% block footer_scripts %}

script(src="{{ static_path('find-ui/bower_components/jquery-ui/jquery-ui.js') }}")

{% if not config.DEBUG %}
script(src="{{ static_path('find-ui/build/app/js/user/user.js') }}")
{% else %}
script(src="{{ static_path('find-ui/dist/app/js/user/user.js') }}")
{% endif %}

{% endblock %}






