{% extends "base.jade" %}

{% block page_title %}User{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}
style
  {% include "user/dv.css" %}
.flash
  p {{ message }}
.container.content-text
  .row
    .col-md-12
      .row
        h1 User Profile
      .row
        p
      .row
        p This is the user profile page.
        p This is meant to show the framework of how we can handle this and is not the final / production version.
      .row
        h2 Saved Data Views
        table.dv_table
          {% for views in dataviews %}
          {% if loop.first %}
          tr
            th Created Date
            th Visualization URL
            th Action
          {% endif %}
          tr
            td {{ views.created_at }}
            td 
              a(href="/data-visualization{{ views.settings.hash }}"){{ views.settings.hash }}
            td.center
              a(href="/user/removedv/{{ views.id }}") X
          {% else %}
          tr
            td(colspan=5).no-border.no-dv-yet You have not saved any dataviews yet.
          {% endfor %}
{% endblock %}

{% block footer_scripts %}


{% endblock %}