{% extends "base.jade" %}

{% block page_title %}Indicators{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}
link(href='{{ static_path("find-ui/dist/app/css/visualization.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/bower_components/leaflet/dist/leaflet.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/bower_components/jquery-ui-slider-pips/dist/jquery-ui-slider-pips.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/dist/app/css/jquery.multiselect.css") }}', rel='stylesheet')
{% endblock %}

{% block content %}

.container
  .row
    p
  .row
    p
  .row
    #tab-category.tab-pane.active
      .row(data-bind="foreach:categoriesModel")
        .col-sm-4.col-md-4.col-sm-2.flip
          .card
            .face.front
              div.well.category-wrapper()
                span.badge(data-bind="html:length")
                div(data-bind="attr:{class:'icon-category-' + label.replace(/ /g,'-').replace(/,/g,'').toLowerCase() + ' well category'}")
                h4(data-bind="html:label")
            .face.back
              div.list-group()
                a.list-group-item.active(href="#" data-bind="html:label")
                span.list(data-bind="foreach:indicators")
                  a.list-group-item(data-bind='css:{selected:selected},click:function(){$root.selectIndicatorMultiple(arguments[0],arguments[1],true)},html:label,attr:{&#34;data-content&#34;:&#34;<strong>Source : </strong>&#34; + source}' data-html="true")
                  span.downloadLinks()
                    span(data-bind="click:function(){$root.downloadData('excel',$data)}") Excel    
                    span(data-bind="click:function(){$root.downloadData('csv',$data)}") CSV    
                    span(data-bind="click:function(){$root.downloadData('json',$data)}") JSON
                 
{% endblock %}

{% block footer_scripts %}
link(href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css', rel='stylesheet')

{% assets "interactive_common_js" %}
script(type='text/javascript', src='{{ASSET_URL }}')
{% endassets %}

//- script(src="{{ static_path('find-ui/bower_components/jquery-ui/jquery-ui.js') }}")
//- //-script(src="{{ static_path('find-ui/bower_components/jquery-ui-slider-pips/dist/jquery-ui-slider-pips.min.js') }}")
//- script(src="{{ static_path('find-ui/dist/app/js/lib/jquery-ui.multiselect.min.js') }}")
//- script(src="{{ static_path('find-ui/bower_components/lodash/lodash.min.js') }}")
//- script(src="{{ static_path('find-ui/bower_components/leaflet/dist/leaflet.js') }}")
//- //-script(src='//code.highcharts.com/highcharts.js')
//- //-script(src='//code.highcharts.com/modules/exporting.js')
//- script(src="{{ static_path('find-ui/bower_components/knockout/dist/knockout.js')  }}") 
//- script(src="{{ static_path('find-ui/dist/app/js/visualization/config.js') }}")
//- //-script(src="{{ static_path('find-ui/dist/app/js/visualization/highcharts-json.js') }}")
//- script(src="{{ static_path('find-ui/dist/app/js/common/loader.js') }}")
//- script(src="{{ static_path('find-ui/dist/app/js/common/utils.js') }}")
//- script(src="{{ static_path('find-ui/dist/app/js/common/viz-model.js') }}")
//- script(src="{{ static_path('find-ui/dist/app/js/visualization/visualization.js') }}")

{% endblock %}






