/*Variables Stylus*/
@font-face {
  font-family: 'fa-icons';
  src: url("../fonts/fa-icons.eot");
  src: url("../fonts/fa-icons.eot?#iefix") format('embedded-opentype'), url("../fonts/fa-icons.woff") format('woff'), url("../fonts/fa-icons.ttf") format('truetype'), url("../fonts/fa-icons.svg#faicons") format('svg');
  font-weight: 300;
  font-style: normal;
}
html,
body {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
}
.app a {
  color: #852224;
}
.app .navbar-default {
  background-color: #336b99;
}
.app .navbar-default .navbar-nav > .active > a {
  background-color: #244c80;
}
.app .navbar-default .navbar-nav > .active > a,
.app .navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
.app .navbar-default .navbar-nav > li:nth-child(2) > a {
  font-weight: 200;
}
.app .navbar-brand {
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 33px;
  padding: 20px;
}
.app .navbar-collapse.collapse {
  height: 60px !important;
}
.app .bg-none {
  background: none;
}
.app .bg-light {
  background-color: #5c74b4;
}
.app .bg-dark {
  background-color: #244c80;
}
.app .bg-medium {
  background-color: #336b99;
}
.app .font-light {
  color: #fff;
}
.app .font-dark {
  color: #852224;
}
.app .well {
  border-radius: 0px;
  border: none;
  box-shadow: none;
}
.app .well .glyphicon {
  width: 100%;
  text-align: center;
  font-size: 40px;
}
.app img {
  width: 100%;
  height: auto;
  max-width: 150px;
}
.app .bg-container {
  background-color: #eae6e6;
}
.app .font-large {
  font-size: 33px;
}
.app .bg-none {
  background: none;
}
.app .map-bg {
  background: url("../images/map.png") center center no-repeat;
}
.app .jumbotron {
  border-radius: 0px;
}
.app .jumbotron h1 {
  font-size: 56px;
  font-weight: 200;
  font-style: normal;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}
.app .jumbotron p {
  font-weight: 200;
  font-style: normal;
  color: #fff;
  text-align: center;
}
.app .jumbotron .search-group {
  color: #852224;
}
.app .jumbotron .form-control-feedback {
  width: 60px;
  height: 68px;
  line-height: 60px;
  font-size: 34px;
  left: 0;
}
.app .jumbotron .main-search {
  width: 100%;
  padding: 6px;
  padding-left: 60px;
  font-size: 34px;
  font-weight: 200;
  font-style: normal;
  border-radius: 0px;
  border: 1px solid #244c80;
}
.app .jumbotron .main-search-results {
  padding: 10px;
}
.app .jumbotron .main-search-results span {
  background-color: #eae6e6;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
.app .footer h1 {
  font-size: 46px;
  font-weight: 200;
  font-style: normal;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}
.app .footer .updates ul {
  color: #fff;
  font-size: 22px;
}
.app .footer #data-stories h3 {
  color: #fff;
}
.app .footer-links {
  font-weight: 200;
  font-size: 14px;
  font-style: normal;
}
.app .footer-links .nav > li > a {
  padding: 0px;
  color: #fff;
}
.app .footer-links .nav > li > a:hover {
  background: none;
}
.app .footer-links ul li:not(:last-child) {
  border-right: 1px solid #fff;
  margin-right: 20px;
  padding-right: 20px;
}
.app .btn-default {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  color: #336b99;
  font-size: 28px;
  font-weight: 400;
}
.app .btn-group:nth-child(2) {
  border-left: 1px solid #ccc;
}
.app .category-wrapper .badge {
  position: absolute;
  top: -5px;
  right: 5px;
  background-image: -webkit-linear-gradient(top, #5c74b4, #244c80);
  border: 1px solid #244c80;
}
.row.vdivide [class*='vdivide col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
#sticky.stick {
  position: fixed;
  top: 60px;
  z-index: 10000;
  border-radius: 0 0 0.5em 0.5em;
  min-width: 50%;
}
#sticky.stick input,
#sticky.stick .main-search-results span {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.carousel-indicators {
  bottom: 0px;
}
.carousel-indicators li {
  border: 2px solid #852224;
}
.carousel-control {
  background-image: url("") !important;
  display: none;
}
#data-stories h1 {
  color: #fff;
}
/****** MEDIA QUERIES ************/
@media (min-width: 768px) {
  .app .jumbotron {
    padding: 10px;
  }
  .navbar-nav > li > a {
    padding: 20px;
  }
  .category-wrapper {
    height: 210px;
  }
}
@media (min-width: 992px) {
  .category-wrapper {
    height: 210px;
  }
}
@media (min-width: 1200px) {
  .category-wrapper {
    height: 210px;
  }
}
/*categories*/
.app .icon-category-70:after {
  content: '\e608';
}
.app .icon-category-10:after {
  content: '\e60d';
}
.app .icon-category-20:after {
  content: '\e606';
}
.app .icon-category-50:after {
  content: '\e602';
}
.app .icon-category-40:after {
  content: '\e603';
}
.app .icon-category-30:after,
.app .icon-category-health:after {
  content: '\e607';
}
.app .icon-category-90:after {
  content: '\e600';
}
.app .icon-category-60:after,
.app .icon-category-environment:after {
  content: '\e604';
}
.app .icon-category-80:after {
  content: '\e605';
}
.app [class^="icon-"],
.app [class*=" icon-"] {
  font-family: 'fa-icons', sans-serif;
  font-size: 66px;
  text-align: center;
}
.app .noun_vote_29586 {
  background: url("../images/noun_vote_29586.png") center center no-repeat;
}
.app .noun_community-health-advocate_3746 {
  background: url("../images/noun_community-health-advocate_3746.png") center center no-repeat;
}
.app .noun_education_79148 {
  background: url("../images/noun_education_79148.png") center center no-repeat;
}
.app .noun_economic-growth_28093 {
  background: url("../images/noun_economic-growth_28093.png") center center no-repeat;
}
.app .noun_help_28806 {
  background: url("../images/noun_help_28806.png") center center no-repeat;
}
.app .noun_group_28631 {
  background: url("../images/noun_group_28631.png") center center no-repeat;
}
.app .noun_globe_76672 {
  background: url("../images/noun_globe_76672.png") center center no-repeat;
}
.well h4 {
  text-align: center;
}
.app .category {
  height: 100px;
  background-size: contain;
}
.app .category-wrapper {
  border-radius: 0px;
}
.app .afghanistan {
  background: url("../images/flags_style1_medium/Afghanistan.png") center center no-repeat;
}
.app .albania {
  background: url("../images/flags_style1_medium/Albania.png") center center no-repeat;
}
.app .algeria {
  background: url("../images/flags_style1_medium/Algeria.png") center center no-repeat;
}
.app .american-samao {
  background: url("../images/flags_style1_medium/American_Samoa.png") center center no-repeat;
}
.app .andorra {
  background: url("../images/flags_style1_medium/Andorra.png") center center no-repeat;
}
.app .angola {
  background: url("../images/flags_style1_medium/Angola.png") center center no-repeat;
}
.app .anguilla {
  background: url("../images/flags_style1_medium/Anguilla.png") center center no-repeat;
}
.app .antigua-and-barbuda {
  background: url("../images/flags_style1_medium/Antigua_and_Barbuda.png") center center no-repeat;
}
.app .argentina {
  background: url("../images/flags_style1_medium/Argentina.png") center center no-repeat;
}
.app .armenia {
  background: url("../images/flags_style1_medium/Armenia.png") center center no-repeat;
}
.app .aruba {
  background: url("../images/flags_style1_medium/Aruba.png") center center no-repeat;
}
.app .australia {
  background: url("../images/flags_style1_medium/Australia.png") center center no-repeat;
}
.app .austria {
  background: url("../images/flags_style1_medium/Austria.png") center center no-repeat;
}
.app .azerbaijan {
  background: url("../images/flags_style1_medium/Azerbaijan.png") center center no-repeat;
}
.app .bahamas {
  background: url("../images/flags_style1_medium/Bahamas.png") center center no-repeat;
}
.app .bahrain {
  background: url("../images/flags_style1_medium/Bahrain.png") center center no-repeat;
}
.app .bangladesh {
  background: url("../images/flags_style1_medium/Bangladesh.png") center center no-repeat;
}
.app .barbados {
  background: url("../images/flags_style1_medium/Barbados.png") center center no-repeat;
}
.app .belarus {
  background: url("../images/flags_style1_medium/Belarus.png") center center no-repeat;
}
.app .belgium {
  background: url("../images/flags_style1_medium/Belgium.png") center center no-repeat;
}
.app .belize {
  background: url("../images/flags_style1_medium/Belize.png") center center no-repeat;
}
.app .benin {
  background: url("../images/flags_style1_medium/Benin.png") center center no-repeat;
}
.app .bermuda {
  background: url("../images/flags_style1_medium/Bermuda.png") center center no-repeat;
}
.well h4 {
  text-align: center;
}
.app .category {
  height: 100px;
  background-size: contain !important;
}
.app .category-wrapper {
  border-radius: 0px;
  border: 1px solid #eae6e6;
}
.app input:focus,
.app select:focus,
.app textarea:focus,
.app button:focus {
  outline: none;
}
/*App Stylus*/
/*Header Stylus*/
/*Header Stylus*/
/*Map Stylus*/
/*Map Stylus*/
