$standardPadding = 20px

//background colors
//-$bgDark=#1c1837
$bgDark=#244C80
//-$bgMedium=#5447A2
$bgMedium=#336B99
//-$bgLight=rgba(138, 127, 187, 0.8)
$bgLight=#5C74b4

//$bgLighter=#DBE8FF
$bgLighter=#EAE6E6

//-$bgContainer=#d8d8d8
$bgContainer=$bgLighter
$bgKey=#A64444

//text colors
$colorLight=#FFFFFF
//-$colorDark=#000000
$colorDark=#852224
$links=#852224

//font sizes
$sizeBrand=33px
$sizeMenu=16px
$sizeFooter=14px

//font family
$family='Roboto', sans-serif
$familyF='fa-icons', sans-serif
$weightLight=200
$weightRegular=300
$weightMedium=400

//heights
$heightHeader=60px

//radius
$radius0=0px
$radius5=5px
$radius10=10px
$radius15=15px

//border




// $buttonsColor=#505C9B
// $buttonsHoverColor=#505C9B
// $buttonsTextColor=#9d9d9d
// $buttonsTextHoverColor=#FFFFFF
// $toolsBackground=rgba(0, 0, 0,1.0)
// $toolsBackgroundHover=rgba(80, 92, 155, 0.8)
// $tooltipColor=rgba(80, 92, 155, 0.3)
// $mapBackground=rgba(181, 208, 208, 1)