{% extends "admin/base.html" %} 



{% block extra_css %}

{% endblock extra_css %}





{% block body %}
h1 Welcome to the Admin section
p Instructions will be provided in short order
{% endblock body %}


{% block extra_js  %}


{% endblock extra_js  %}


