{% extends "base.jade" %}

{% block page_title %}Indicators{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}
link(href='{{ static_path("find-ui/dist/app/css/visualization.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/bower_components/leaflet/dist/leaflet.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/bower_components/jquery-ui-slider-pips/dist/jquery-ui-slider-pips.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/dist/app/css/jquery.multiselect.css") }}', rel='stylesheet')
{% endblock %}

{% block content %}

.container
  .row#loading
    .col-md-12
      img(src='/static/find-ui/dist/app/images/loader.GIF')
  .row
    p
  .row.title
    .col-md-12
      button.btn.btn-default.facebook(data-bind="click:shareFacebook")
      button.btn.btn-default.twitter(data-bind="click:shareTwitter")
      button.btn.btn-default.share(data-bind="click:shareUrl")
  .row.title
    .col-md-10
      //- .dropdown.pull-left
      //-   button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Years
      //-       span.caret
      //-   ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1',data-bind="foreach:ko.utils.range(1990, 2015)")
      //-     li(role='presentation')
      //-       a(role='menuitem', tabindex='-1', href='#',data-bind="text:$data,click:$root.selectYear")
      //- .dropdown.pull-left
      //-   button#dropdownMenu2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Group By
      //-       span.caret
      //-   ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu2')
      //-     li(role='presentation')
      //-       a(role='menuitem', tabindex='-1', href='#',data-bind="click:function(){groupBy('indicators')}") Indicators
      //-       a(role='menuitem', tabindex='-1', href='#',data-bind="click:function(){groupBy('countries')}") Countries
      button.btn.btn-default.dropdown-toggle(data-bind="click:function(){showStats('min')}",type='button', data-toggle='dropdown', aria-expanded='true') Minimum
      button.btn.btn-default.dropdown-toggle(data-bind="click:function(){showStats('max')}",type='button', data-toggle='dropdown', aria-expanded='true') Maximum
      button.btn.btn-default.dropdown-toggle(data-bind="click:function(){showStats('avg')}",type='button', data-toggle='dropdown', aria-expanded='true') Average
      button.btn.btn-default.dropdown-toggle(data-bind="click:showAll",type='button', data-toggle='dropdown', aria-expanded='true') Show All
      button.btn.btn-default.dropdown-toggle(data-bind="click:hideAll",type='button', data-toggle='dropdown', aria-expanded='true') Hide All
      
      
          
         
    .col-md-2
      .pull-right#filter-years-label(data-bind="html:activeYears().join(' - ')")
  .row
    p
  .row
    .col-md-12
      div#filter-years
  .row
    .col-md-12
      div#viz-container
  .row
    .col-md-10
      //- button.btn.btn-default.dropdown-toggle(data-bind="click:showTable",type='button', data-toggle='dropdown', aria-expanded='true') Data Table
      //- button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Indicator
      //- button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Countries
      ul.nav.nav-tabs
        li
          a(href='#tab_a', data-toggle='tab') Data Table
        li
          a(href='#tab_b', data-toggle='tab') Indicators
        li
          a(href='#tab_c', data-toggle='tab') Countries
      .tab-content
        #tab_a.tab-pane
          h4 Data Table          
          p
            | See Data in a table    
        #tab_b.tab-pane
          h4 Indicators         
          p
            | Select from Indicators       
        #tab_c.tab-pane
          h4 Countries 
          p
            | Select from List of Countries
    // tab content

{% endblock %}

{% block footer_scripts %}
//-link(href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css', rel='stylesheet')
link(href="{{ static_path('find-ui/bower_components/jquery-ui/themes/smoothness/jquery-ui.css') }}", rel='stylesheet')

script(src="{{ static_path('find-ui/bower_components/jquery-ui/jquery-ui.js') }}")
script(src="{{ static_path('find-ui/bower_components/jquery-ui-slider-pips/dist/jquery-ui-slider-pips.min.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/lib/jquery-ui.multiselect.min.js') }}")
script(src="{{ static_path('find-ui/bower_components/lodash/lodash.min.js') }}")
script(src="{{ static_path('find-ui/bower_components/leaflet/dist/leaflet.js') }}")
script(src="{{ static_path('find-ui/bower_components/highcharts/highcharts.js') }}")
script(src="{{ static_path('find-ui/bower_components/highcharts/highcharts-more.js') }}")
script(src="{{ static_path('find-ui/bower_components/highcharts/modules/exporting.js') }}")
script(src="{{ static_path('find-ui/bower_components/knockout/dist/knockout.js')  }}") 
script(src="{{ static_path('find-ui/dist/app/js/visualization/config.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/visualization/loader.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/dataviz/highcharts-json.js') }}")
//- script(src="{{ static_path('find-ui/dist/app/js/visualization/visualization.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/common/utils.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/dataviz/dataviz.js') }}")

{% endblock %}






