{% extends "base.jade" %}

{% block page_title %}Indicators{% endblock %}

{% block banner %}

{% endblock %}

{% block optional_head %}
link(href='{{ static_path("find-ui/dist/app/css/visualization.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/dist/app/css/flags32.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/bower_components/slickgrid/slick.grid.css") }}', rel='stylesheet')
//-link(href='{{ static_path("find-ui/bower_components/tidy-table/tidy-table.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/bower_components/leaflet/dist/leaflet.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/bower_components/jquery-ui-slider-pips/dist/jquery-ui-slider-pips.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/dist/app/css/jquery.multiselect.css") }}', rel='stylesheet')
{% endblock %}

{% block content %}

.container-full
  .row#loading
    .col-md-12
      img(src='/static/find-ui/dist/app/images/loader.GIF')
  .row
    p
  .row
    .col-md-8
      //-button.btn.btn-default.facebook(data-bind="click:shareFacebook")
      button.btn.btn-default.twitter(data-bind="click:shareTwitter")
      button.btn.btn-default.share(data-bind="click:shareUrl")
      button.btn.btn-default.saveVZ(data-bind="click:saveVZ",title="Click to Save this Visualization")
    .col-md-2
      span(data-bind="visible:activeChart()!='map'")
        button.btn.btn-default.dropdown-toggle(data-bind="click:showAll",type='button', data-toggle='dropdown', aria-expanded='true') Show All
        button.btn.btn-default.dropdown-toggle(data-bind="click:hideAll",type='button', data-toggle='dropdown', aria-expanded='true') Hide All
    .col-md-2
      .pull-right#filter-years-label(data-bind="html:activeYears().join(' - ')")
  .row
    p
  .row(style="padding:10px")
    .col-md-4
      span#bar-globals(data-bind="visible:activeChart()!='map'")
        button.btn.btn-default.dropdown-toggle(data-bind="click:chartBarToggleMin",type='button', data-toggle='dropdown', aria-expanded='true') Minimum
        button.btn.btn-default.dropdown-toggle(data-bind="click:chartBarToggleMax",type='button', data-toggle='dropdown', aria-expanded='true') Maximum
        button.btn.btn-default.dropdown-toggle#global-avg(data-bind="click:chartBarToggleAvg",type='button', data-toggle='dropdown', aria-expanded='true') Average
        span#data-proxy(data-min=0,data-max=0,data-avg=0)
      
    .col-md-8
      div#filter-years
      .row
        p
 
 #slide-panel
    a.btn#opener
      i.glyphicon.glyphicon-align-justify
    .container-full#content
      .row.tabs-app
        .col-md-12
          ul.nav.nav-tabs
            li.active
              a(href='#comparator', data-toggle='tab') Comparator
            li
              a(href='#indicators', data-toggle='tab') Indicators        
          .tab-content
            #indicators.tab-pane
              .row
                p
              .row
                p
              .row
                .col-md-2
                .col-md-10
                  .dropdown.selection-list.pull-left(data-bind="visible:activeIndicators().length>0",style="margin-left:10px")
                    button#dropdownMenuSelectedIndicators.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                        .glyphicon.glyphicon-menu-down
                        span() &nbsp;Selected Indicators&nbsp;
                        span.badge(data-bind="html:activeIndicators().length")
                        a(data-bind="click:clearActiveIndicators,visible:activeIndicators().length>0")&nbsp;Clear
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenuSelectedIndicators', data-bind="foreach:activeIndicators")

                      li(role='presentation')
                        span.glyphicon.glyphicon-remove(data-bind="click:$root.removeIndicator") 
                        a(role='menuitem', tabindex='-1', href='#',data-bind="html:label")
                  .dropdown.pull-right(data-bind="visible:activeIndicators().length > 0")
                    button.btn.btn-default.dropdown-toggle(type='button' data-bind="click:$root.redrawChart") Swap Indicator
              .row
                p 
              .row
                .col-md-2
                  .tabbable.tabs-left
                    ul.nav.nav-tabs
                      li.active
                        a(href='#tab-category', data-toggle='tab') Category
                      li
                        a(href='#tab-source', data-toggle='tab') Collections        
                      li
                        a(href='#tab-alphabetic', data-toggle='tab') A - Z
                      //- li
                      //-   a(href='#tab-countries', data-toggle='tab') Countries

                .col-md-10
                  .tab-content(style="height:300px;overflow-y:auto" )
                    #tab-category.tab-pane.active
                      .row(data-bind="foreach:categoriesModel")
                        .col-sm-6.col-md-6.col-sm-4.flip
                          .card
                            .face.front
                              div.well.category-wrapper()
                                span.badge(data-bind="html:length")
                                //-div(data-bind="attr:{class:'icon-category-' + label.replace(/ /g,'-').replace(/,/g,'').toLowerCase() + ' well category'}")
                                h4(data-bind="html:label")
                            .face.back
                              div.list-group()
                                a.list-group-item.active(href="#" data-bind="html:label")
                                span.list
                                  span.subcategories(data-bind="foreach:subcategories")
                                    a.list-group-item.active(href="#" data-bind="click:$root.selectSubcategory")
                                      span( data-bind="html:label")
                                    span(data-bind="foreach:indicators" style="display:none")
                                      span.indicator-item
                                        a.list-group-item(data-bind='css:{selected:selected},click:$root.selectIndicatorMultiple,attr:{&#34;data-content&#34;:&#34;<strong>Source : </strong>&#34; + source}' data-html="true")
                                          .glyphicon.glyphicon-plus(data-bind="click:$root.selectIndicatorMultiple")
                                          .glyphicon.glyphicon-minus(data-bind="click:$root.selectIndicatorMultiple")
                                          .glyphicon.glyphicon-menu-right               
                                          span(data-bind="html:label")
                                        div.downloadLinks()
                                          span(data-bind="click:function(obj,evt){$root.downloadData('excel',$data, evt)}") Excel    
                                          span(data-bind="click:function(obj,evt){$root.downloadData('csv',$data, evt)}") CSV    
                                          span(data-bind="click:function(obj,evt){$root.downloadData('json',$data, evt)}") JSON
                                  span.categories(data-bind="foreach:indicators,visible:subcategories.length==0")
                                    span.indicator-item
                                      a.list-group-item(data-bind='css:{selected:selected},click:$root.selectIndicatorMultiple,attr:{&#34;data-content&#34;:&#34;<strong>Source : </strong>&#34; + source}' data-html="true")
                                        .glyphicon.glyphicon-plus(data-bind="click:$root.selectIndicatorMultiple")
                                        .glyphicon.glyphicon-minus(data-bind="click:$root.selectIndicatorMultiple")
                                        .glyphicon.glyphicon-menu-right
                                        span(data-bind="html:label")
                                      div.downloadLinks()
                                        span(data-bind="click:function(obj,evt){$root.downloadData('excel',$data, evt)}") Excel    
                                        span(data-bind="click:function(obj,evt){$root.downloadData('csv',$data, evt)}") CSV    
                                        span(data-bind="click:function(obj,evt){$root.downloadData('json',$data, evt)}") JSON

                    #tab-source.tab-pane
                      .row(data-bind="foreach:sourcesModel")
                        .col-sm-6.col-md-6.flip
                          .card
                            .face.front
                              div.well.category-wrapper()
                                span.badge(data-bind="html:length")
                                //-div.well.category.icon-category-70()
                                h4(data-bind="html:label")
                            .face.back
                              div.list-group()
                                a.list-group-item.active(href="#" data-bind="html:label")
                                span.list(data-bind="foreach:indicators")
                                  span.indicator-item
                                    a.list-group-item(data-bind='css:{selected:selected},click:$root.selectIndicatorMultiple,attr:{&#34;data-content&#34;:&#34;<strong>Category : </strong>&#34; +category}'  data-html="true" )
                                      .glyphicon.glyphicon-plus(data-bind="click:$root.selectIndicatorMultiple")
                                      .glyphicon.glyphicon-minus(data-bind="click:$root.selectIndicatorMultiple")
                                      .glyphicon.glyphicon-menu-right
                                      span(data-bind="html:label")
                                    div.downloadLinks()
                                      span(data-bind="click:function(obj,evt){$root.downloadData('excel',$data, evt)}") Excel    
                                      span(data-bind="click:function(obj,evt){$root.downloadData('csv',$data, evt)}") CSV    
                                      span(data-bind="click:function(obj,evt){$root.downloadData('json',$data, evt)}") JSON
                    #tab-alphabetic.tab-pane
                      .row
                        .col-md-12
                          input.pull-left(data-bind="event:{keyup:filterIndicators}" placeHolder="Search Indicator")
                      div.list-group.row()
                        span(data-bind="foreach:indicatorsModel")
                          .list-group-item.col-md-12.indicator-item(data-bind="css:{selected:selected},click:$root.selectIndicatorMultiple")
                            a(data-bind='attr:{&#34;data-content&#34;:&#34;<strong>Category : </strong>&#34; + category + &#34;<br><strong>Source : </strong>&#34; + source,&#34;data-indicatorid&#34;:id}' data-html="true")
                              .glyphicon.glyphicon-plus(data-bind="click:$root.selectIndicatorMultiple")
                              .glyphicon.glyphicon-minus(data-bind="click:$root.selectIndicatorMultiple")
                              .glyphicon.glyphicon-menu-right
                              span(data-bind="html:label")
                            div.downloadLinks()
                              span(data-bind="click:function(obj,evt){$root.downloadData('excel',$data, evt)}") Excel    
                              span(data-bind="click:function(obj,evt){$root.downloadData('csv',$data, evt)}") CSV    
                              span(data-bind="click:function(obj,evt){$root.downloadData('json',$data, evt)}") JSON    
            #comparator.tab-pane.active
              .row
                .col-md-12
                  .dropdown.pull-left
                    button#dropdownMenuGroups.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                        .glyphicon.glyphicon-menu-down
                        span(data-bind="html:activeGroup().label")
                    div.noun-tree-140111(data-bind="visible:(activeGroup().id != 'all'),click:function(data,evt){selectCountry(activeGroup(),evt,false,true)}" title="All Regions in this Group")
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenuGroups', data-bind="foreach:countryGroupings")
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='#',data-bind="html:label,click:$root.selectCountryGroup")
                  .dropdown.selection-list.pull-left(data-bind="visible:activeCountries().length>0 && !groupByRegion()",style="margin-left:10px")

                    button#dropdownMenuSelectedCountries.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                        .glyphicon.glyphicon-menu-down
                        span() &nbsp;Selected Countries&nbsp;
                        span.badge(data-bind="html:activeCountries().length")
                        a(data-bind="click:clearActiveCountries,visible:activeCountries().length>0")&nbsp;Clear
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenuSelectedCountries', data-bind="foreach:activeCountries")

                      li(role='presentation')
                        span.glyphicon.glyphicon-remove(data-bind='click:$root.removeCountry,css:{selected:selected}')
                        a(role='menuitem', tabindex='-1', href='#',data-bind="html:label")
              .row.title
                .col-md-12
                  .dropdown.pull-right(data-bind="visible:groupByRegion() || activeCountries().length > 0")
                    button.btn.btn-default.dropdown-toggle(type='button' data-bind="click:addComparator") Add Comparator
              .row
                p
              .row
                .col-md-12
                  input.btn-block(data-bind="event:{keyup:filterCountries}" placeHolder="Find a Country")
              .row
                p
              .row
                .col-md-12
                  
              .row
                p
              .row.countries-list(data-bind="css:{'manual-selection':activeCountries().length>0}")
                .col-md-8.countries-col(style="height:200px;width:100%;overflow-y:auto" data-bind="visible:!groupByRegion() || activeGroup().id == 'all'")
                  .row.f32(data-bind="foreach:activeGroup().regions")
                    .col-md-12.col-sm-12.col-xs-12.region-level(style="line-height:25px",data-bind="visible:id != 'all'")
                      span.flag-item(data-bind='click:$root.selectCountry,css:{selected:selected}')
                        span.flags-labels(style="vertical-align:middle" data-bind="html:label")
                      div.noun-tree-140111(data-bind="click:function(data,evt){$root.selectCountry(data,evt,false, true)}" title="All Countries in this Region")
                    span(data-bind="foreach:$data.countries,css:{hasCountryFilter:$root.hasCountryFilter}")
                      .col-md-6.col-sm-12.col-xs-12.country-wrapper(style="line-height:25px" data-bind="css:{filtered:filtered}")
                        div.flag-item(data-bind='click:$root.selectCountry,css:{selected:selected}')
                          div.flag(data-bind="css:iso_a2.toLowerCase()")
                          span.flags-labels(style="vertical-align:middle" data-bind="html:label") 
  

  .row.tabs-app
    .col-md-12
      ul.nav.nav-tabs
        li.active
          a(href='#viz-container', data-toggle='tab') Chart       
        li
          a(href='#data-table', data-target="#data-table, #data-table-save", data-toggle='tab') Data Table
      .tab-content
        #data-table-save.tab-pane
          .row(style="padding:10px 0")
            span Export data: 
            input#savecsv(type="button" value="CSV")
            input#savexlsx(type="button" value="XLSX")
        #viz-container.active.tab-pane
        #data-table.tab-pane
        
  .row
    .col-md-12
     

{% endblock %}

{% block footer_scripts %}
//-link(href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css', rel='stylesheet')
link(href="{{ static_path('find-ui/bower_components/jquery-ui/themes/smoothness/jquery-ui.css') }}", rel='stylesheet')

script(src="{{ static_path('find-ui/bower_components/jquery-ui/jquery-ui.js') }}")
script(src="{{ static_path('find-ui/bower_components/jquery-ui-slider-pips/dist/jquery-ui-slider-pips.min.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/lib/jquery-ui.multiselect.min.js') }}")
script(src="{{ static_path('find-ui/bower_components/lodash/lodash.min.js') }}")
script(src="{{ static_path('find-ui/bower_components/lodash-math/lodash.math.js') }}")
script(src="{{ static_path('find-ui/bower_components/leaflet/dist/leaflet.js') }}")
script(src="{{ static_path('find-ui/bower_components/highcharts/highcharts.js') }}")
script(src="{{ static_path('find-ui/bower_components/highcharts/highcharts-more.js') }}")
//-script(src="{{ static_path('find-ui/bower_components/tidy-table/tidy-table.min.js') }}")
script(src="{{ static_path('find-ui/bower_components/highcharts/modules/exporting.js') }}")
script(src="{{ static_path('find-ui/bower_components/knockout/dist/knockout.js')  }}") 
script(src="{{ static_path('find-ui/dist/app/js/common/config.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/common/loader.js') }}")

//-slickgrid
script(src="{{ static_path('find-ui/bower_components/slickgrid/lib/jquery.event.drag-2.2.js') }}")
script(src="{{ static_path('find-ui/bower_components/slickgrid/slick.core.js') }}")
script(src="{{ static_path('find-ui/bower_components/slickgrid/slick.grid.js') }}")
script(src="{{ static_path('find-ui/bower_components/slickgrid/slick.dataview.js') }}")
script(src="{{ static_path('find-ui/bower_components/slickgrid/plugins/slick.checkboxselectcolumn.js') }}")
script(src="{{ static_path('find-ui/bower_components/slickgrid/plugins/slick.rowselectionmodel.js') }}")
script(src="{{ static_path('find-ui/bower_components/slickgrid-bootstrap/bootstrap/bootstrap-slickgrid.js') }}")
//script(src="{{ static_path('find-ui/bower_components/requirejs/require.js') }}")
script(src="{{ static_path('find-ui/bower_components/js-xlsx/dist/xlsx.core.min.js') }}")
script(src="{{ static_path('find-ui/bower_components/file-saver/FileSaver.min.js') }}")

//- script(src="{{ static_path('find-ui/dist/app/js/dataviz/highcharts-json.js') }}")
//- script(src="{{ static_path('find-ui/dist/app/js/visualization/visualization.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/common/utils.js') }}")
//-script(src="{{ static_path('find-ui/dist/app/js/common/viz-model.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/dataviz/dataviz.js') }}")

{% endblock %}






