{% extends "base.jade" %}

{% block page_title %}Indicators{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}
link(href='{{ static_path("find-ui/dist/app/css/visualization.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/bower_components/tidy-table/tidy-table.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/bower_components/leaflet/dist/leaflet.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/bower_components/jquery-ui-slider-pips/dist/jquery-ui-slider-pips.css") }}', rel='stylesheet')
link(href='{{ static_path("find-ui/dist/app/css/jquery.multiselect.css") }}', rel='stylesheet')
{% endblock %}

{% block content %}

.container
  .row#loading
    .col-md-12
      img(src='/static/find-ui/dist/app/images/loader.GIF')
  .row
    p
  .row.title
    .col-md-12
      button.btn.btn-default.facebook(data-bind="click:shareFacebook")
      button.btn.btn-default.twitter(data-bind="click:shareTwitter")
      button.btn.btn-default.share(data-bind="click:shareUrl")
  .row.title
    .col-md-10
      //- .dropdown.pull-left
      //-   button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Years
      //-       span.caret
      //-   ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1',data-bind="foreach:ko.utils.range(1990, 2015)")
      //-     li(role='presentation')
      //-       a(role='menuitem', tabindex='-1', href='#',data-bind="text:$data,click:$root.selectYear")
      //- .dropdown.pull-left
      //-   button#dropdownMenu2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Group By
      //-       span.caret
      //-   ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu2')
      //-     li(role='presentation')
      //-       a(role='menuitem', tabindex='-1', href='#',data-bind="click:function(){groupBy('indicators')}") Indicators
      //-       a(role='menuitem', tabindex='-1', href='#',data-bind="click:function(){groupBy('countries')}") Countries
      button.btn.btn-default.dropdown-toggle(data-bind="click:function(){showStats('min')}",type='button', data-toggle='dropdown', aria-expanded='true') Minimum
      button.btn.btn-default.dropdown-toggle(data-bind="click:function(){showStats('max')}",type='button', data-toggle='dropdown', aria-expanded='true') Maximum
      button.btn.btn-default.dropdown-toggle(data-bind="click:function(){showStats('avg')}",type='button', data-toggle='dropdown', aria-expanded='true') Average
      button.btn.btn-default.dropdown-toggle(data-bind="click:showAll",type='button', data-toggle='dropdown', aria-expanded='true') Show All
      button.btn.btn-default.dropdown-toggle(data-bind="click:hideAll",type='button', data-toggle='dropdown', aria-expanded='true') Hide All
      
      
          
         
    .col-md-2
      .pull-right#filter-years-label(data-bind="html:activeYears().join(' - ')")
  .row
    p
  .row
    .col-md-12
      div#filter-years
  .row
    .col-md-12
      div#viz-container
  .row
    .col-md-12
      //- button.btn.btn-default.dropdown-toggle(data-bind="click:showTable",type='button', data-toggle='dropdown', aria-expanded='true') Data Table
      //- button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Indicator
      //- button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Countries
      ul.nav.nav-tabs
        li
          a(href='#data-table', data-toggle='tab') Data Table
        li
          a(href='#tab_b', data-toggle='tab') Indicators
        li
          a(href='#tab_c', data-toggle='tab') Countries
      .tab-content
        #data-table.tab-pane
              
        #tab_b.tab-pane
          .row
            .col-md-2
              .tabbable.tabs-left
                ul.nav.nav-tabs
                  li.active
                    a(href='#tab-category', data-toggle='tab') Sector
                  li
                    a(href='#tab-source', data-toggle='tab') Collections        
                  li
                    a(href='#tab-alphabetic', data-toggle='tab') A - Z
                  //- li
                  //-   a(href='#tab-countries', data-toggle='tab') Countries
            .col-md-10
              .tab-content
                #tab-category.tab-pane.active
                  .row(data-bind="foreach:categoriesModel")
                    .col-sm-4.col-md-4.col-sm-2.flip
                      .card
                        .face.front
                          div.well.category-wrapper()
                            span.badge(data-bind="html:length")
                            div(data-bind="attr:{class:'icon-category-' + label.replace(/ /g,'-').replace(/,/g,'').toLowerCase() + ' well category'}")
                            h4(data-bind="html:label")
                        .face.back
                          div.list-group()
                            a.list-group-item.active(href="#" data-bind="html:label")
                            span.list(data-bind="foreach:indicators")
                              a.list-group-item(data-bind='css:{selected:selected},click:$root.selectIndicatorMultiple,html:label,attr:{&#34;data-content&#34;:&#34;<strong>Source : </strong>&#34; + source}' data-html="true")
                              span.downloadLinks()
                                span(data-bind="click:function(){$root.downloadData('excel',$data)}") Excel    
                                span(data-bind="click:function(){$root.downloadData('csv',$data)}") CSV    
                                span(data-bind="click:function(){$root.downloadData('json',$data)}") JSON
                #tab-source.tab-pane
                  .row(data-bind="foreach:sourcesModel")
                    .col-sm-4.col-md-4.flip
                      .card
                        .face.front
                          div.well.category-wrapper()
                            span.badge(data-bind="html:length")
                            div.well.category.icon-category-70()
                            h4(data-bind="html:label")
                        .face.back
                          div.list-group()
                            a.list-group-item.active(href="#" data-bind="html:label")
                            span.list(data-bind="foreach:indicators")
                              a.list-group-item(data-bind='css:{selected:selected},click:$root.selectIndicatorMultiple,html:label,attr:{&#34;data-content&#34;:&#34;<strong>Category : </strong>&#34; +category}'  data-html="true" )
                              span.downloadLinks()
                                span(data-bind="click:function(){$root.downloadData('excel',$data)}") Excel    
                                span(data-bind="click:function(){$root.downloadData('csv',$data)}") CSV    
                                span(data-bind="click:function(){$root.downloadData('json',$data)}") JSON
                #tab-alphabetic.tab-pane
                  .row
                    .col-md-12
                      input.pull-left(data-bind="event:{keyup:filterIndicators}" placeHolder="Search Indicator")
                  div.list-group.row()
                    span(data-bind="foreach:indicatorsModel")
                      .list-group-item.col-md-4(data-bind="css:{selected:selected},click:$root.selectIndicatorMultiple")
                        a(data-bind='html:label,attr:{&#34;data-content&#34;:&#34;<strong>Category : </strong>&#34; + category + &#34;<br><strong>Source : </strong>&#34; + source,&#34;data-indicatorid&#34;:id}' data-html="true")
                        span.downloadLinks()
                          span(data-bind="click:function(){$root.downloadData('excel',$data)}") Excel    
                          span(data-bind="click:function(){$root.downloadData('csv',$data)}") CSV    
                          span(data-bind="click:function(){$root.downloadData('json',$data)}") JSON      
        #tab_c.tab-pane
          .row.title
            .col-md-2
              .dropdown
                button#dropdownMenuGroups.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Country Groups
                    span.caret
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenuGroups', data-bind="foreach:countryGroupings")
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#',data-bind="html:label,click:$root.selectCountryGroup")
            .col-md-2
              .dropdown(data-bind="visible:countryGroupRegions().length>0")
                button#dropdownMenuGroupRegions.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Regions
                    span.caret
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenuGroupRegions', data-bind="foreach:countryGroupRegions")
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#',data-bind="html:$data,click:$root.selectCountryGroupRegion")
            //-.col-md-4
                //-button.btn.btn-default(type='button') Select All
                //-button.btn.btn-default(type='button') Deselect All
            .col-md-8
              .pull-right#filter-countries-label(data-bind="visible:activeCountries().length==0,html:activeGroup().label + ' - ' + activeRegion()")

          .row.title.f32(data-bind="visible:activeCountries().length>0")
            .col-md-10(data-bind="foreach:activeCountries")
              .pull-right.flag-item(data-bind='click:$root.removeCountry,css:{selected:selected}')
                div.flag(data-bind="css:iso_a2.toLowerCase()")
                span.flags-labels(data-bind="html:label")
            .col-md-2
              a(data-bind="click:clearActiveCountries") Clear

          .row
            p
          .row
            .col-md-12
              input.btn-block(data-bind="event:{keyup:filterCountries}" placeHolder="Find a Country")
          .row
            p
          .row
            .col-md-12
              
          .row
            p
          .row.countries-list()
            .col-md-8
              .row.f32(data-bind="foreach:countriesModel" )
                .col-md-6.col-sm-12.col-xs-12
                  div.flag-item(data-bind='click:$root.selectCountry,css:{selected:selected}')
                    div.flag(data-bind="css:iso_a2.toLowerCase()")
                    span.flags-labels(data-bind="html:label")
            .col-md-4
              .row
                .col-md-12#map
    // tab content

{% endblock %}

{% block footer_scripts %}
//-link(href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css', rel='stylesheet')
link(href="{{ static_path('find-ui/bower_components/jquery-ui/themes/smoothness/jquery-ui.css') }}", rel='stylesheet')

script(src="{{ static_path('find-ui/bower_components/jquery-ui/jquery-ui.js') }}")
script(src="{{ static_path('find-ui/bower_components/jquery-ui-slider-pips/dist/jquery-ui-slider-pips.min.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/lib/jquery-ui.multiselect.min.js') }}")
script(src="{{ static_path('find-ui/bower_components/lodash/lodash.min.js') }}")
script(src="{{ static_path('find-ui/bower_components/leaflet/dist/leaflet.js') }}")
script(src="{{ static_path('find-ui/bower_components/highcharts/highcharts.js') }}")
script(src="{{ static_path('find-ui/bower_components/highcharts/highcharts-more.js') }}")
script(src="{{ static_path('find-ui/bower_components/tidy-table/tidy-table.min.js') }}")
script(src="{{ static_path('find-ui/bower_components/highcharts/modules/exporting.js') }}")
script(src="{{ static_path('find-ui/bower_components/knockout/dist/knockout.js')  }}") 
script(src="{{ static_path('find-ui/dist/app/js/visualization/config.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/visualization/loader.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/dataviz/highcharts-json.js') }}")
//- script(src="{{ static_path('find-ui/dist/app/js/visualization/visualization.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/common/utils.js') }}")
script(src="{{ static_path('find-ui/dist/app/js/dataviz/dataviz.js') }}")

{% endblock %}






