{% extends "base.jade" %}

{% block page_title %}PII{% endblock %}


{% block banner %}

{% endblock %}


{% block optional_head %}

{% endblock %}

{% block content %}

.container
	.row
		.col-md-12
			| PII / PIA

{% endblock %}

{% block footer_scripts %}


{% endblock %}